Repository tylerbutler/tools-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: dill, fundamentals, sort-tsconfig

comments
  packages/cli/src/lib/fluid-repo-overlay/task-rename.ts
Due: none

format
  packages/cli/src/lib/fluid-repo-overlay/package-json-nx.ts
Due: none

ignore ccl-docs
  .changeset/config.json
Due: none

fix(build): improve cache invalidation for OCLIF snapshot generation
  turbo.jsonc
Due: none

feat(cli): add fluid task-rename command (#326)
  .changeset/calm-snails-share.md
  .changeset/config.json
  packages/cli/.gitignore
  packages/cli/docs/fluid.md
  packages/cli/src/commands/fluid/repo-overlay.ts
  packages/cli/src/commands/fluid/task-rename.ts
  packages/cli/src/lib/fluid-repo-overlay/package-json-nx.ts
  packages/cli/src/lib/fluid-repo-overlay/package-json-turbo.ts
  packages/cli/src/lib/fluid-repo-overlay/package-json.ts
  packages/cli/src/lib/fluid-repo-overlay/task-rename.ts
  packages/cli/src/lib/fluid-repo-overlay/templates/nx.json
  packages/cli/test/commands/__snapshots__/commands.json
  pnpm-lock.yaml
  turbo.jsonc
Due: none

🚀 release: Update versions (#330)
  .changeset/calm-snails-share.md
  packages/cli-api/THIRD-PARTY-LICENSES.txt
  packages/cli/CHANGELOG.md
  packages/cli/THIRD-PARTY-LICENSES.txt
  packages/cli/package.json
  packages/dill/THIRD-PARTY-LICENSES.txt
  packages/repopo/THIRD-PARTY-LICENSES.txt
  packages/sort-tsconfig/THIRD-PARTY-LICENSES.txt
Due: sort-tsconfig

feat: migrate from Turbo to Nx
  .gitignore
  nx.json
  package.json
  pnpm-lock.yaml
  project.json
  turbo.jsonc
Due: none

refactor(build): optimize Nx configuration for Phase 1
  nx.json
  package.json
  pnpm-lock.yaml
  project.json
  tsconfig.json
Due: none

feat(build): enable Nx plugin-based task inference (Phase 2)
  CLAUDE.md
  nx.json
Due: none

chore: add .svelte-kit to gitignore
  .gitignore
Due: none

feat: configure TypeScript project references
  package.json
  packages/cli-api/tsconfig.json
  packages/cli/tsconfig.json
  packages/dill-docs/tsconfig.json
  packages/dill/tsconfig.json
  packages/repopo-docs/tsconfig.json
  packages/repopo/tsconfig.json
  packages/sort-tsconfig/tsconfig.json
  pnpm-lock.yaml
Due: sort-tsconfig

feat: add root tsconfig with project references
  tsconfig.json
Due: none

format
  packages/cli-api/tsconfig.json
  packages/cli/tsconfig.json
  packages/dill-docs/tsconfig.json
  packages/dill/tsconfig.json
  packages/repopo-docs/tsconfig.json
  packages/repopo/tsconfig.json
  packages/sort-tsconfig/tsconfig.json
  tsconfig.json
Due: sort-tsconfig

feat: configure TypeScript project references (#331)
  package.json
  packages/cli-api/tsconfig.json
  packages/cli/tsconfig.json
  packages/dill-docs/tsconfig.json
  packages/dill/tsconfig.json
  packages/repopo-docs/tsconfig.json
  packages/repopo/tsconfig.json
  packages/sort-tsconfig/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: sort-tsconfig

updates
  packages/repopo/api-docs/repopo.api.md
  packages/repopo/src/commands/check.ts
  packages/repopo/src/makePolicy.ts
  packages/repopo/src/policy.ts
  packages/repopo/src/policyDefiners/definePackagePolicy.ts
  packages/sort-tsconfig/src/policy.ts
Due: sort-tsconfig

agent config
  .mcp.json
  AGENTS.md
  CLAUDE.md
  package.json
Due: none

updates
  nx.json
  package.json
  packages/ccl-docs/package.json
  packages/ccl-test-viewer/package.json
  packages/cli-api/package.json
  packages/dill-docs/package.json
  packages/dill/package.json
  packages/fundamentals/package.json
  packages/levee-client/package.json
  packages/lilconfig-loader-ts/package.json
  packages/repopo-docs/package.json
  packages/repopo/package.json
  packages/sort-tsconfig/package.json
  packages/xkcd2-api/package.json
Due: fundamentals, sort-tsconfig

fixes
  .mcp.json
  biome.jsonc
  nx.json
  package.json
  pnpm-lock.yaml
Due: none

fix(ci): remove --continue flag from CI command
  package.json
Due: none

co fig
  nx.json
Due: none

updates
  CLAUDE.md
  nx.json
  packages/cli/package.json
  packages/dill/package.json
  packages/fundamentals/package.json
  packages/repopo/package.json
Due: fundamentals

test(repopo): add comprehensive test coverage for Effection refactor
  packages/repopo/package.json
  packages/repopo/test/check-command.test.ts
  packages/repopo/test/definePackagePolicy.test.ts
  packages/repopo/test/generators.test.ts
  packages/repopo/test/makePolicy.test.ts
  packages/repopo/test/perf.test.ts
  packages/repopo/test/policies/NoJsFileExtensions.test.ts
  packages/repopo/test/policies/PackageScripts.test.ts
  packages/repopo/test/policy-handlers.test.ts
Due: none

chore: update pnpm-lock.yaml for test dependencies
  pnpm-lock.yaml
Due: none

test(repopo): add Phase 2 test coverage for policy helpers
  packages/repopo/test/defineFileHeaderPolicy.test.ts
  packages/repopo/test/policies/PackageJsonProperties.test.ts
  packages/repopo/test/policies/PackageJsonSorted.test.ts
Due: none

feat: migrate from Turbo to Nx (#332)
  .gitignore
  .mcp.json
  AGENTS.md
  CLAUDE.md
  biome.jsonc
  nx.json
  package.json
  packages/ccl-docs/package.json
  packages/ccl-test-viewer/package.json
  packages/cli-api/package.json
  packages/cli/package.json
  packages/dill-docs/package.json
  packages/dill/package.json
  packages/fundamentals/package.json
  packages/levee-client/package.json
  packages/lilconfig-loader-ts/package.json
  packages/repopo-docs/package.json
  packages/repopo/package.json
  packages/sort-tsconfig/package.json
  packages/xkcd2-api/package.json
  pnpm-lock.yaml
  turbo.jsonc
Due: fundamentals, sort-tsconfig

format
  nx.json
  packages/repopo-docs/src/content/docs/api/README.md
  packages/repopo-docs/src/content/docs/api/functions/generatePackagePolicy.md
  packages/repopo-docs/src/content/docs/api/functions/makePolicy.md
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyDefinition.md
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyDefinitionAsync.md
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyFailure.md
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyFixResult.md
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyInstanceSettings.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PolicyHandler.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PolicyHandlerAsync.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PolicyHandlerResult.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PolicyInstance.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PolicyStandaloneResolver.md
  packages/repopo/test/check-command.test.ts
  packages/repopo/test/defineFileHeaderPolicy.test.ts
  packages/repopo/test/definePackagePolicy.test.ts
  packages/repopo/test/makePolicy.test.ts
  packages/repopo/test/perf.test.ts
  packages/repopo/test/policies/NoJsFileExtensions.test.ts
  packages/repopo/test/policies/PackageJsonProperties.test.ts
  packages/repopo/test/policies/PackageJsonSorted.test.ts
  packages/repopo/test/policies/PackageScripts.test.ts
  packages/repopo/test/policy-handlers.test.ts
  packages/sort-tsconfig/api-docs/sort-tsconfig.api.md
Due: sort-tsconfig

lint
  packages/repopo/src/commands/check.ts
  packages/repopo/src/policies/PackageJsonRepoDirectoryProperty.ts
  packages/repopo/src/policies/PackageJsonSorted.ts
  packages/repopo/src/policy.ts
  packages/repopo/test/check-command.test.ts
  packages/repopo/test/defineFileHeaderPolicy.test.ts
  packages/repopo/test/definePackagePolicy.test.ts
  packages/repopo/test/generators.test.ts
  packages/repopo/test/makePolicy.test.ts
  packages/repopo/test/perf.test.ts
  packages/repopo/test/policy-handlers.test.ts
Due: none

chore(ccl-test-viewer): add dist to gitignore
  packages/ccl-test-viewer/.gitignore
Due: none

chore: use trailing slash for dist/ in gitignore
  packages/ccl-test-viewer/.gitignore
Due: none

chore(ccl-test-viewer): add dist to gitignore (#333)
  packages/ccl-test-viewer/.gitignore
Due: none

build: ignore .turbo folder
  .gitignore
Due: none

build: update nx config
  .gitignore
  nx.json
Due: none

build
  packages/repopo-docs/src/content/docs/api/README.md
  packages/repopo-docs/src/content/docs/api/functions/generatePackagePolicy.md
  packages/repopo-docs/src/content/docs/api/functions/makePolicy.md
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyDefinition.md
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyDefinitionAsync.md
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyFailure.md
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyFixResult.md
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyInstanceSettings.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PolicyHandler.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PolicyHandlerAsync.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PolicyHandlerResult.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PolicyInstance.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PolicyStandaloneResolver.md
  packages/sort-tsconfig/api-docs/sort-tsconfig.api.md
Due: sort-tsconfig

build(deps): bundle vite/vitest and tailwind updates
  .github/dependabot.yml
Due: none

build(deps): include major updates for svelte group
  .github/dependabot.yml
Due: none

docs: clarify dependencies group comment
  .github/dependabot.yml
Due: none

build(deps): include major updates for oclif and typedoc groups
  .github/dependabot.yml
Due: none

ci: bundle dependency groups to bump major versions (#340)
  .github/dependabot.yml
Due: none

build: update nx configuration
  AGENTS.md
  CLAUDE.md
  nx.json
Due: none

feat(cli): add deps sync command to sync package.json with lockfile
  .changeset/add-deps-sync-command.md
  packages/cli/README.md
  packages/cli/docs/deps.md
  packages/cli/package.json
  packages/cli/src/commands/deps/sync.ts
  packages/cli/src/lib/package-manager.ts
  packages/cli/test/commands/__snapshots__/commands.json
  packages/cli/test/commands/deps/sync.test.ts
  packages/cli/test/lib/package-manager.test.ts
  pnpm-lock.yaml
Due: none

Path conditions:
  dill: any of: packages/dill-cli/**, but not: **/index.ts, **/index.js
  fundamentals: any of: packages/fundamentals/**, but not: **/index.ts, **/index.js
  sort-tsconfig: any of: packages/sort-tsconfig/**, but not: **/index.ts, **/index.js
