Repository tylerbutler/tools-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: dill, fundamentals

fixes
  packages/repopo/package.json
  packages/repopo/src/commands/check.ts
  packages/repopo/src/perf.ts
  pnpm-lock.yaml
Due: none

config
  repopo.config.ts
Due: none

init
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyFailure.md
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyFixResult.md
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyFunctionArguments.md
  packages/repopo-docs/src/content/docs/api/interfaces/RepoPolicy.md
  packages/repopo-docs/src/content/docs/api/type-aliases/DefaultPolicyConfigType.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PolicyHandler.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PolicyName.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PolicyStandaloneResolver.md
  packages/repopo-docs/src/content/docs/api/variables/DefaultPolicies.md
  packages/repopo/packlist.txt
  packages/repopo/src/policies.ts
  packages/repopo/src/policies/PubLint.ts
  packages/repopo/src/policy.ts
Due: none

build
  packages/cli-api/THIRD-PARTY-LICENSES.txt
Due: none

deps cleanup
  package.json
  packages/cli-api/package.json
  packages/cli/package.json
  packages/dill/package.json
  packages/lilconfig-loader-ts/package.json
  packages/repopo/package.json
  packages/repopo/vitest.config.ts
  packages/sort-tsconfig/package.json
  packages/sort-tsconfig/test/commands/sort-tsconfig.test.ts
  pnpm-lock.yaml
Due: dill

remove unused chai and mocha deps
  packages/dill/package.json
  packages/dill/test/commands/download.mochatest.ts
  packages/sort-tsconfig/.c8rc.json
  packages/sort-tsconfig/package.json
  pnpm-lock.yaml
Due: dill

scripts
  packages/cli-api/package.json
  packages/cli/package.json
  packages/dill/package.json
  packages/fundamentals/package.json
  packages/lilconfig-loader-ts/package.json
  packages/repopo/package.json
  packages/sort-tsconfig/package.json
  packages/xkcd2-api/package.json
Due: dill, fundamentals

cleanup
  packages/cli/.mocharc.json
  packages/dill/.c8rc.json
  packages/dill/.mocharc.json
  packages/dill/package.json
  packages/dill/test/api.test.ts
  packages/dill/test/commands/download.test.ts
  packages/dill/test/common.ts
  packages/dill/vitest.config.ts
  packages/sort-tsconfig/.mocharc.json
  pnpm-lock.yaml
Due: dill

pnpm update
  package.json
Due: none

revert some dep updates
  package.json
  packages/cli-api/package.json
  packages/cli/package.json
  packages/dill/package.json
  packages/lilconfig-loader-ts/package.json
  packages/repopo/package.json
  pnpm-lock.yaml
Due: dill

cleanup
  packages/cli-api/package.json
  packages/cli/package.json
  packages/cli/test/tsconfig.json
  pnpm-lock.yaml
Due: none

cleanup
  package.json
  packages/dill-docs/astro.config.mjs
  packages/dill-docs/package.json
  packages/repopo-docs/astro.config.mjs
  packages/repopo-docs/package.json
  packages/sort-tsconfig/package.json
  pnpm-lock.yaml
  renovate.json5
Due: none

remove pnpm overrides no longer needed
  package.json
  pnpm-lock.yaml
Due: none

fix(deps): Update fluidframework deps
  package.json
  packages/repopo/package.json
  pnpm-lock.yaml
Due: none

missed one
  package.json
  pnpm-lock.yaml
Due: none

build
  packages/repopo/THIRD-PARTY-LICENSES.txt
Due: none

fix(deps): Update fluidframework deps (#195)
  package.json
  packages/repopo/THIRD-PARTY-LICENSES.txt
  packages/repopo/package.json
  pnpm-lock.yaml
Due: none

test: Remove mocha and chai (#194)
  package.json
  packages/cli-api/package.json
  packages/cli/.mocharc.json
  packages/cli/package.json
  packages/cli/test/tsconfig.json
  packages/dill-docs/astro.config.mjs
  packages/dill-docs/package.json
  packages/dill/.c8rc.json
  packages/dill/.mocharc.json
  packages/dill/package.json
  packages/dill/test/api.test.ts
  packages/dill/test/commands/download.test.ts
  packages/dill/test/common.ts
  packages/fundamentals/package.json
  packages/lilconfig-loader-ts/package.json
  packages/repopo-docs/astro.config.mjs
  packages/repopo-docs/package.json
  packages/repopo/package.json
  packages/repopo/vitest.config.ts
  packages/sort-tsconfig/.c8rc.json
  packages/sort-tsconfig/.mocharc.json
  packages/sort-tsconfig/package.json
  packages/sort-tsconfig/test/commands/sort-tsconfig.test.ts
  packages/sort-tsconfig/vitest.config.ts
  packages/xkcd2-api/package.json
  pnpm-lock.yaml
  renovate.json5
Due: dill, fundamentals

oclif
  .ncurc.cjs
  .ncurc.oclif.cjs
  .ncurc.prod.cjs
  package.json
Due: none

bump
  packages/cli-api/package.json
  packages/cli/package.json
  packages/dill/package.json
  packages/repopo/package.json
  packages/sort-tsconfig/package.json
  pnpm-lock.yaml
Due: dill

build
  packages/cli/docs/autocomplete.md
  packages/cli/docs/commands.md
  packages/cli/docs/help.md
  packages/cli/docs/search.md
  packages/cli/docs/version.md
  packages/cli/docs/which.md
Due: none

pnpm
  package.json
Due: none

build
  packages/cli-api/THIRD-PARTY-LICENSES.txt
  packages/dill/THIRD-PARTY-LICENSES.txt
  packages/repopo/THIRD-PARTY-LICENSES.txt
  packages/sort-tsconfig/THIRD-PARTY-LICENSES.txt
Due: dill

build
  packages/cli/THIRD-PARTY-LICENSES.txt
Due: none

fix(deps): Update oclif (#197)
  .ncurc.cjs
  .ncurc.oclif.cjs
  .ncurc.prod.cjs
  package.json
  packages/cli-api/THIRD-PARTY-LICENSES.txt
  packages/cli-api/package.json
  packages/cli/THIRD-PARTY-LICENSES.txt
  packages/cli/docs/autocomplete.md
  packages/cli/docs/commands.md
  packages/cli/docs/help.md
  packages/cli/docs/search.md
  packages/cli/docs/version.md
  packages/cli/docs/which.md
  packages/cli/package.json
  packages/dill/THIRD-PARTY-LICENSES.txt
  packages/dill/package.json
  packages/repopo/THIRD-PARTY-LICENSES.txt
  packages/repopo/package.json
  packages/sort-tsconfig/THIRD-PARTY-LICENSES.txt
  packages/sort-tsconfig/package.json
  pnpm-lock.yaml
Due: dill

bump deps
  packages/cli-api/package.json
  packages/cli/package.json
  packages/dill/package.json
  packages/lilconfig-loader-ts/package.json
  packages/repopo/package.json
  packages/sort-tsconfig/package.json
  pnpm-lock.yaml
Due: dill

fix(deps): Update deps (#196)
  packages/cli-api/package.json
  packages/cli/package.json
  packages/dill/package.json
  packages/lilconfig-loader-ts/package.json
  packages/repopo/package.json
  packages/sort-tsconfig/package.json
  pnpm-lock.yaml
Due: dill

build
  packages/cli-api/THIRD-PARTY-LICENSES.txt
  packages/cli-api/package.json
  packages/cli/THIRD-PARTY-LICENSES.txt
  packages/cli/package.json
  packages/dill-docs/package.json
  packages/dill/THIRD-PARTY-LICENSES.txt
  packages/dill/package.json
  packages/repopo-docs/package.json
  packages/repopo/THIRD-PARTY-LICENSES.txt
  packages/repopo/package.json
  packages/sort-tsconfig/THIRD-PARTY-LICENSES.txt
  packages/sort-tsconfig/package.json
  pnpm-lock.yaml
Due: dill

build
  packages/cli-api/packlist.txt
  packages/repopo/THIRD-PARTY-LICENSES.txt
Due: none

better test
  packages/cli-api/test/commands/configTest.test.ts
Due: none

fix(deps): Update dependencies (#198)
  packages/cli-api/THIRD-PARTY-LICENSES.txt
  packages/cli-api/package.json
  packages/cli/THIRD-PARTY-LICENSES.txt
  packages/cli/package.json
  packages/dill-docs/package.json
  packages/dill/THIRD-PARTY-LICENSES.txt
  packages/dill/package.json
  packages/repopo-docs/package.json
  packages/repopo/THIRD-PARTY-LICENSES.txt
  packages/repopo/package.json
  packages/sort-tsconfig/THIRD-PARTY-LICENSES.txt
  packages/sort-tsconfig/package.json
  pnpm-lock.yaml
Due: dill

tests
  packages/sort-tsconfig/test/commands/sort-tsconfig.test.ts
Due: none

updates
  package.json
  packages/cli-api/api-docs/cli-api.api.md
  packages/cli-api/src/baseCommand.ts
  packages/cli-api/src/logger.ts
  packages/cli-api/src/loggers/basic.ts
  packages/cli-api/src/loggers/consola.ts
  packages/repopo/src/commands/check.ts
Due: none

mv license gen tasks
  fluidBuild.config.cjs
  package.json
  packages/repopo/package.json
Due: none

format
  package.json
Due: none

Path conditions:
  dill: any of: packages/dill/**
  fundamentals: any of: packages/fundamentals/**
