Repository tylerbutler/tools-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: dill, fundamentals, sort-tsconfig, cli, cli-api, xkcd2-api, ccl-test-viewer, sail, sail-infrastructure

test(repopo): add comprehensive effection structured concurrency tests
  packages/repopo/test/effection-concurrency.test.ts
  packages/repopo/test/effection-integration.test.ts
Due: none

fix(repopo): correct generator function invocations in effection tests
  packages/repopo/test/effection-concurrency.test.ts
  packages/repopo/test/effection-integration.test.ts
Due: none

refactor(repopo): reduce cognitive complexity in PackageScripts policy (#378)
  nx.json
  package.json
  packages/ccl-test-viewer/package.json
  packages/repopo/src/policies/PackageScripts.ts
  packages/repopo/test/policies/PackageScripts.test.ts
  repopo.config.ts
Due: ccl-test-viewer

feat: add remark/rehype plugin packages
  .changeset/add-rehype-footnotes.md
  .changeset/add-remark-lazy-links.md
  .changeset/add-remark-normalize-headings.md
  packages/rehype-footnotes/README.md
  packages/rehype-footnotes/esm/index.d.ts
  packages/rehype-footnotes/esm/index.d.ts.map
  packages/rehype-footnotes/esm/index.js
  packages/rehype-footnotes/esm/index.js.map
  packages/rehype-footnotes/package.json
  packages/rehype-footnotes/src/index.ts
  packages/rehype-footnotes/test/index.test.ts
  packages/rehype-footnotes/tsconfig.json
  packages/rehype-footnotes/vitest.config.ts
  packages/remark-lazy-links/README.md
  packages/remark-lazy-links/esm/index.d.ts
  packages/remark-lazy-links/esm/index.d.ts.map
  packages/remark-lazy-links/esm/index.js
  packages/remark-lazy-links/esm/index.js.map
  packages/remark-lazy-links/package.json
  packages/remark-lazy-links/src/index.ts
  packages/remark-lazy-links/test/index.test.ts
  packages/remark-lazy-links/tsconfig.json
  packages/remark-lazy-links/vitest.config.ts
  packages/remark-normalize-headings/README.md
  packages/remark-normalize-headings/esm/index.d.ts
  packages/remark-normalize-headings/esm/index.d.ts.map
  packages/remark-normalize-headings/esm/index.js
  packages/remark-normalize-headings/esm/index.js.map
  packages/remark-normalize-headings/package.json
  packages/remark-normalize-headings/src/index.ts
  packages/remark-normalize-headings/test/index.test.ts
  packages/remark-normalize-headings/tsconfig.json
  packages/remark-normalize-headings/vitest.config.ts
  pnpm-lock.yaml
Due: none

rename
  .changeset/add-remark-normalize-headings.md
  .changeset/add-remark-shift-headings.md
  .codecov.yml
  packages/remark-normalize-headings/esm/index.d.ts.map
  packages/remark-normalize-headings/esm/index.js.map
  packages/remark-shift-headings/README.md
  packages/remark-shift-headings/esm/index.d.ts
  packages/remark-shift-headings/esm/index.d.ts.map
  packages/remark-shift-headings/esm/index.js
  packages/remark-shift-headings/esm/index.js.map
  packages/remark-shift-headings/package.json
  packages/remark-shift-headings/src/index.ts
  packages/remark-shift-headings/test/index.test.ts
  packages/remark-shift-headings/tsconfig.json
  packages/remark-shift-headings/vitest.config.ts
  pnpm-lock.yaml
Due: none

format
  nx.json
  packages/ccl-test-viewer/package.json
  packages/rehype-footnotes/src/index.ts
  packages/rehype-footnotes/test/index.test.ts
  packages/rehype-footnotes/tsconfig.json
  packages/remark-lazy-links/test/index.test.ts
  packages/remark-lazy-links/tsconfig.json
  packages/remark-shift-headings/test/index.test.ts
  packages/remark-shift-headings/tsconfig.json
  packages/repopo/test/policies/PackageScripts.test.ts
  repopo.config.ts
Due: ccl-test-viewer

fix: resolve lint errors across plugin packages
  packages/rehype-footnotes/src/index.ts
  packages/rehype-footnotes/test/index.test.ts
  packages/remark-lazy-links/src/index.ts
  packages/remark-lazy-links/test/index.test.ts
  packages/remark-shift-headings/src/index.ts
  packages/remark-shift-headings/test/index.test.ts
  packages/repopo/src/policies/PackageScripts.ts
Due: none

fix: resolve TypeScript errors and failing tests in remark/rehype plugins
  packages/rehype-footnotes/esm/index.d.ts.map
  packages/rehype-footnotes/esm/index.js
  packages/rehype-footnotes/esm/index.js.map
  packages/rehype-footnotes/src/index.ts
  packages/remark-lazy-links/esm/index.d.ts.map
  packages/remark-lazy-links/esm/index.js
  packages/remark-lazy-links/esm/index.js.map
  packages/remark-lazy-links/package.json
  packages/remark-lazy-links/src/index.ts
  packages/remark-lazy-links/test/index.test.ts
  packages/remark-shift-headings/esm/index.d.ts.map
  packages/remark-shift-headings/esm/index.js
  packages/remark-shift-headings/esm/index.js.map
  pnpm-lock.yaml
Due: none

chore: add .gitignore files and remove build artifacts
  packages/rehype-footnotes/.gitignore
  packages/rehype-footnotes/esm/index.d.ts
  packages/rehype-footnotes/esm/index.d.ts.map
  packages/rehype-footnotes/esm/index.js
  packages/rehype-footnotes/esm/index.js.map
  packages/remark-lazy-links/.gitignore
  packages/remark-lazy-links/esm/index.d.ts
  packages/remark-lazy-links/esm/index.d.ts.map
  packages/remark-lazy-links/esm/index.js
  packages/remark-lazy-links/esm/index.js.map
  packages/remark-shift-headings/.gitignore
  packages/remark-shift-headings/esm/index.d.ts
  packages/remark-shift-headings/esm/index.d.ts.map
  packages/remark-shift-headings/esm/index.js
  packages/remark-shift-headings/esm/index.js.map
Due: none

chore: mark plugin packages as public
  packages/rehype-footnotes/package.json
  packages/remark-lazy-links/package.json
  packages/remark-shift-headings/package.json
Due: none

build
  packages/cli/docs/autocomplete.md
  packages/cli/docs/commands.md
  packages/cli/docs/help.md
  packages/cli/docs/search.md
  packages/cli/docs/version.md
  packages/cli/docs/which.md
  packages/fundamentals/docs/index.md
  packages/sail-infrastructure/docs/classes/NotInGitRepository.md
  packages/sail/docs/autocomplete.md
  packages/sail/docs/build.md
  packages/sail/docs/cache.md
  packages/sail/docs/commands.md
  packages/sail/docs/help.md
  packages/sail/docs/version.md
Due: none

fix
  packages/dill-cli/src/api.ts
Due: none

deps:sync
  package.json
  packages/ccl-docs/package.json
  packages/ccl-test-viewer/package.json
  packages/cli-api/package.json
  packages/cli/package.json
  packages/dill-cli/package.json
  packages/dill-docs/package.json
  packages/fundamentals/package.json
  packages/levee-client/package.json
  packages/lilconfig-loader-ts/package.json
  packages/repopo-docs/package.json
  packages/repopo/package.json
  packages/sail-infrastructure/package.json
  packages/sail/package.json
  packages/sort-tsconfig/package.json
  packages/xkcd2-api/package.json
Due: fundamentals, sort-tsconfig, cli, cli-api, xkcd2-api, ccl-test-viewer, sail, sail-infrastructure

script fix
  package.json
Due: none

lockfile
  pnpm-lock.yaml
Due: none

feat: add remark/rehype plugin packages (#380)
  .changeset/add-rehype-footnotes.md
  .changeset/add-remark-lazy-links.md
  .changeset/add-remark-shift-headings.md
  .codecov.yml
  packages/rehype-footnotes/.gitignore
  packages/rehype-footnotes/README.md
  packages/rehype-footnotes/package.json
  packages/rehype-footnotes/src/index.ts
  packages/rehype-footnotes/test/index.test.ts
  packages/rehype-footnotes/tsconfig.json
  packages/rehype-footnotes/vitest.config.ts
  packages/remark-lazy-links/.gitignore
  packages/remark-lazy-links/README.md
  packages/remark-lazy-links/package.json
  packages/remark-lazy-links/src/index.ts
  packages/remark-lazy-links/test/index.test.ts
  packages/remark-lazy-links/tsconfig.json
  packages/remark-lazy-links/vitest.config.ts
  packages/remark-shift-headings/.gitignore
  packages/remark-shift-headings/README.md
  packages/remark-shift-headings/package.json
  packages/remark-shift-headings/src/index.ts
  packages/remark-shift-headings/test/index.test.ts
  packages/remark-shift-headings/tsconfig.json
  packages/remark-shift-headings/vitest.config.ts
  pnpm-lock.yaml
Due: none

ci: use nx affected in PR builds
  .github/workflows/pr-build.yml
Due: none

tests
  packages/repopo/test/policies/LicenseFileExists.test.ts
  packages/repopo/test/policies/NoLargeBinaryFiles.utilities.test.ts
  packages/repopo/test/policies/RequiredGitignorePatterns.utilities.test.ts
Due: none

fix: resolve biome linting issues
  packages/rehype-footnotes/src/index.ts
  packages/repopo/src/policies/LicenseFileExists.ts
Due: none

fix: disable useLiteralKeys biome rule
  config/biome/linter.jsonc
  packages/cli/src/commands/fluid/task-rename.ts
  packages/cli/src/lib/fluid-repo-overlay/package-json-turbo.ts
  packages/cli/src/lib/fluid-repo-overlay/package-json.ts
  packages/rehype-footnotes/src/index.ts
  packages/sail/src/core/buildRepo.ts
  packages/sail/src/core/tasks/leaf/leafTask.ts
Due: cli, sail

build
  packages/dill-docs/src/content/docs/api/functions/download.md
Due: none

perf(nx): optimize lint and check:format for root-level execution
  package.json
Due: none

perf(nx): prevent packages from running lint and check:format in CI
  nx.json
Due: none

feat(nx): add quality gates to root-level build
  package.json
Due: none

changeset
  .changeset/seven-jobs-smash.md
Due: none

fix: commit missed file
  packages/dill-docs/src/content/docs/api/functions/download.md
Due: none

perf(nx): optimize lint and check:format for root-level execution (#392)
  nx.json
  package.json
Due: none

feat: Add three new repopo security and structure policies (#308)
  .changeset/seven-jobs-smash.md
  config/biome/linter.jsonc
  packages/cli/src/commands/fluid/task-rename.ts
  packages/cli/src/lib/fluid-repo-overlay/package-json-turbo.ts
  packages/cli/src/lib/fluid-repo-overlay/package-json.ts
  packages/repopo/src/policies.ts
  packages/repopo/src/policies/LicenseFileExists.ts
  packages/repopo/src/policies/NoLargeBinaryFiles.ts
  packages/repopo/src/policies/RequiredGitignorePatterns.ts
  packages/repopo/test/policies/LicenseFileExists.test.ts
  packages/repopo/test/policies/NoLargeBinaryFiles.test.ts
  packages/repopo/test/policies/NoLargeBinaryFiles.utilities.test.ts
  packages/repopo/test/policies/RequiredGitignorePatterns.test.ts
  packages/repopo/test/policies/RequiredGitignorePatterns.utilities.test.ts
  packages/repopo/vitest.config.ts
  packages/sail/src/core/buildRepo.ts
  packages/sail/src/core/tasks/leaf/leafTask.ts
Due: cli, sail

feat(ccl-test-viewer): integrate bundlemon for bundle size tracking
  .github/workflows/pr-build.yml
  packages/ccl-test-viewer/.bundlemonrc.mjs
  packages/ccl-test-viewer/.gitignore
  packages/ccl-test-viewer/package.json
  pnpm-lock.yaml
Due: ccl-test-viewer

refactor: configure bundlemon to use GitHub App integration
  .github/workflows/pr-build.yml
  packages/ccl-test-viewer/.bundlemonrc.mjs
Due: ccl-test-viewer

refactor: use nx to run bundlemon instead of pnpm filter
  .github/workflows/pr-build.yml
  packages/ccl-test-viewer/package.json
Due: ccl-test-viewer

ci: skip CI on draft PRs
  .github/workflows/pr-build.yml
Due: none

format
  packages/ccl-test-viewer/package.json
Due: ccl-test-viewer

build: add root tasks to targetDefaults
  nx.json
  package.json
Due: none

skip drafts
  .github/workflows/pr-build.yml
Due: none

ci: skip draft PRs in bundlemon and claude review workflows
  .github/workflows/claude-code-review.yml
Due: none

ci: add Nx local cache sharing via actions/cache
  .github/workflows/pr-build.yml
Due: none

update action sha
  .github/workflows/pr-build.yml
  .github/workflows/release.yml
Due: none

ci: add Nx local cache sharing via actions/cache (#394)
  .github/workflows/pr-build.yml
  .github/workflows/release.yml
Due: none

feat(ccl-test-viewer): integrate bundlemon for bundle size tracking (#393)
  .github/workflows/claude-code-review.yml
  .github/workflows/pr-build.yml
  packages/ccl-test-viewer/.bundlemonrc.mjs
  packages/ccl-test-viewer/.gitignore
  packages/ccl-test-viewer/package.json
  pnpm-lock.yaml
Due: ccl-test-viewer

Path conditions:
  dill: any of: packages/dill/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  fundamentals: any of: packages/fundamentals/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  sort-tsconfig: any of: packages/sort-tsconfig/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  cli: any of: packages/cli/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  cli-api: any of: packages/cli-api/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  xkcd2-api: any of: packages/xkcd2-api/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  ccl-test-viewer: any of: packages/ccl-test-viewer/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  sail: any of: packages/sail/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  sail-infrastructure: any of: packages/sail-infrastructure/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
