Repository tylerbutler/tools-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: dill, fundamentals

.codecov.yml:

comment:
  layout: "condensed_header, diff, flags, components"

coverage:
  status:
    project:
      dill:
        paths:
          - packages/dill/**
      fundamentals:
        paths:
          - packages/fundamentals/**
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: dill # this is an identifier that should not be changed
      name: dill # this is a display name, and can be changed freely
      paths:
        - packages/dill/**
    - component_id: fundamentals
      name: fundamentals
      paths:
        - packages/fundamentals/**

build
  packages/cli/test/commands/_snapshots/commands.json
Due: none

ci: Release token
  .github/workflows/release.yml
Due: none

ci: Release workflow debugging
  .github/workflows/release.yml
Due: none

ci: Add package list to release action report
  .github/workflows/release.yml
Due: none

wip
  package.json
  packages/cli/test/commands/_snapshots/commands.json
  packages/dill/packlist.txt
  packages/dill/src/commands/download.ts
  packages/dill/test/commands/download.test.ts
Due: dill

cleanup
  packages/sort-tsconfig/src/config.ts
Due: none

wip
  packages/dill/README.md
  packages/dill/package.json
  packages/dill/src/commands/download.ts
  packages/dill/test/commands/__snapshots__/download.test.ts.snap
  packages/dill/test/commands/download.test.ts
  packages/dill/test/tsconfig.json
  packages/dill/tsconfig.json
Due: dill

test project
  packages/dill-docs/src/content/docs/api/functions/download.md
  packages/test-cli/.eslintignore
  packages/test-cli/.eslintrc.json
  packages/test-cli/.gitignore
  packages/test-cli/.mocharc.json
  packages/test-cli/.prettierrc.json
  packages/test-cli/README.md
  packages/test-cli/bin/dev.cmd
  packages/test-cli/bin/dev.js
  packages/test-cli/bin/run.cmd
  packages/test-cli/bin/run.js
  packages/test-cli/package.json
  packages/test-cli/src/commands/hello/index.ts
  packages/test-cli/src/commands/hello/world.ts
  packages/test-cli/src/index.ts
  packages/test-cli/test/commands/hello/index.test.ts
  packages/test-cli/test/commands/hello/world.test.ts
  packages/test-cli/test/tsconfig.json
  packages/test-cli/tsconfig.json
  pnpm-lock.yaml
Due: none

consistent deps
  packages/test-cli/package.json
  pnpm-lock.yaml
Due: none

mocha
  packages/dill/.mocharc.json
  packages/dill/package.json
  packages/dill/src/commands/download.ts
  packages/dill/test/commands/download.mocha-test.ts
  packages/test-cli/package.json
  packages/test-cli/test/commands/hello/index.test.ts
  packages/test-cli/test/commands/hello/world.test.ts
  pnpm-lock.yaml
Due: dill

coverage
  packages/dill/.c8rc.json
  packages/dill/package.json
  packages/dill/test/commands/download.mocha-test.ts
  pnpm-lock.yaml
Due: dill

rm test package
  packages/test-cli/.eslintignore
  packages/test-cli/.eslintrc.json
  packages/test-cli/.gitignore
  packages/test-cli/.mocharc.json
  packages/test-cli/.prettierrc.json
  packages/test-cli/README.md
  packages/test-cli/bin/dev.cmd
  packages/test-cli/bin/dev.js
  packages/test-cli/bin/run.cmd
  packages/test-cli/bin/run.js
  packages/test-cli/package.json
  packages/test-cli/src/commands/hello/index.ts
  packages/test-cli/src/commands/hello/world.ts
  packages/test-cli/src/index.ts
  packages/test-cli/test/commands/hello/index.test.ts
  packages/test-cli/test/commands/hello/world.test.ts
  packages/test-cli/test/tsconfig.json
  packages/test-cli/tsconfig.json
  pnpm-lock.yaml
Due: none

updates
  packages/cli-api/package.json
  packages/cli/package.json
  packages/dill/package.json
  packages/dill/test/commands/download.mochatest.ts
  pnpm-lock.yaml
Due: dill

missed change
  packages/dill/package.json
Due: dill

coverage
  .codecov.yml
  .gitignore
  biome.jsonc
  config/vitest.config.ts
  packages/dill/.c8rc.json
  packages/dill/src/index.ts
Due: dill

c8 only
  packages/dill/package.json
Due: dill

c8 reports
  packages/dill/.c8rc.json
  packages/dill/src/internal.ts
Due: dill

packlist
  packages/dill/packlist.txt
Due: dill

coverage config
  .codecov.yml
  packages/dill/.c8rc.json
Due: dill

config
  .codecov.yml
Due: none

command snapshots
  biome.jsonc
  packages/cli/package.json
  packages/cli/test/commands/__snapshots__/commands.json
  packages/dill/package.json
  packages/dill/test/__mocks__/fs.cjs
  packages/dill/test/__mocks__/fs/promises.cjs
  packages/dill/test/commands/__snapshots__/commands.json
  packages/repopo/package.json
  packages/repopo/test/commands/__snapshots__/commands.json
Due: dill

rm snapshot
  packages/dill/test/commands/__snapshots__/download.test.ts.snap
Due: dill

test(dill): Add command testing (#84)
  .codecov.yml
  biome.jsonc
  config/vitest.config.ts
  package.json
  packages/cli-api/package.json
  packages/cli/package.json
  packages/cli/test/commands/__snapshots__/commands.json
  packages/dill-docs/src/content/docs/api/functions/download.md
  packages/dill/.c8rc.json
  packages/dill/.mocharc.json
  packages/dill/package.json
  packages/dill/packlist.txt
  packages/dill/src/commands/download.ts
  packages/dill/src/index.ts
  packages/dill/src/internal.ts
  packages/dill/test/commands/__snapshots__/commands.json
  packages/dill/test/commands/download.mochatest.ts
  packages/dill/test/tsconfig.json
  packages/dill/tsconfig.json
  packages/repopo/package.json
  packages/repopo/test/commands/__snapshots__/commands.json
  pnpm-lock.yaml
Due: dill

test(dill): Add command testing (#84)
  .codecov.yml
  .gitignore
  biome.jsonc
  config/vitest.config.ts
  package.json
  packages/cli-api/package.json
  packages/cli/package.json
  packages/cli/test/commands/__snapshots__/commands.json
  packages/dill-docs/src/content/docs/api/functions/download.md
  packages/dill/.c8rc.json
  packages/dill/.mocharc.json
  packages/dill/package.json
  packages/dill/packlist.txt
  packages/dill/src/commands/download.ts
  packages/dill/src/index.ts
  packages/dill/src/internal.ts
  packages/dill/test/commands/__snapshots__/commands.json
  packages/dill/test/commands/download.mochatest.ts
  packages/dill/test/tsconfig.json
  packages/dill/tsconfig.json
  packages/repopo/package.json
  packages/repopo/test/commands/__snapshots__/commands.json
  pnpm-lock.yaml
Due: dill

ci: Run release only on changeset changes
  .github/workflows/release.yml
Due: none

testing catalogs
  packages/dill/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: dill

docs readme
  packages/dill-docs/README.md
Due: none

memfs mocks
  packages/dill/__mocks__/fs.cjs
  packages/dill/__mocks__/fs/promises.cjs
Due: dill

test(fundamentals): Add tests
  packages/fundamentals/api-docs/fundamentals.array.api.md
  packages/fundamentals/docs/array.md
  packages/fundamentals/src/array.ts
  packages/fundamentals/test/array.test.ts
  packages/fundamentals/test/git.test.ts
  packages/fundamentals/test/set.test.ts
Due: fundamentals

updates
  packages/fundamentals/package.json
  packages/fundamentals/test/git.test.ts
  pnpm-lock.yaml
Due: fundamentals

test(fundamentals): Add tests (#107)
  packages/fundamentals/api-docs/fundamentals.array.api.md
  packages/fundamentals/docs/array.md
  packages/fundamentals/package.json
  packages/fundamentals/src/array.ts
  packages/fundamentals/test/array.test.ts
  packages/fundamentals/test/git.test.ts
  packages/fundamentals/test/set.test.ts
  pnpm-lock.yaml
Due: fundamentals

updates
  packages/sort-tsconfig/package.json
  pnpm-lock.yaml
Due: none

mocha for command testing
  packages/cli/docs/search.md
  packages/cli/docs/version.md
  packages/cli/docs/which.md
  packages/dill-docs/src/content/docs/api/functions/download.md
  packages/dill/package.json
  packages/dill/test/tsconfig.json
  packages/dill/tsconfig.json
  packages/repopo/tsconfig.json
  packages/sort-tsconfig/.c8rc.json
  packages/sort-tsconfig/.mocharc.json
  packages/sort-tsconfig/package.json
  packages/sort-tsconfig/test/commands/sort-tsconfig.mocha-test.ts
  packages/sort-tsconfig/test/commands/sort-tsconfig.mochatest.ts
  packages/sort-tsconfig/test/tsconfig.json
  packages/sort-tsconfig/tsconfig.json
Due: dill

coverage
  packages/sort-tsconfig/package.json
  packages/sort-tsconfig/src/commands/sort-tsconfig.ts
  pnpm-lock.yaml
Due: none

updates
  packages/dill/packlist.txt
  packages/sort-tsconfig/package.json
Due: dill
