Repository tylerbutler/tools-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: dill, fundamentals

feat(dill): Add support for zip files (#231)
  .changeset/chilly-colts-beam.md
  packages/dill-docs/src/content/docs/api/functions/download.md
  packages/dill-docs/src/content/docs/api/interfaces/DillOptions.md
  packages/dill-docs/src/content/docs/api/interfaces/DownloadResponse.md
  packages/dill/.gitignore
  packages/dill/src/api.ts
  packages/dill/test/__snapshots__/api.test.ts.snap
  packages/dill/test/api.test.ts
  packages/dill/test/common.ts
  packages/dill/test/data/README.md
  packages/dill/test/data/test4.zip
  packages/dill/test/data/test5.json.gz
Due: dill

updates
  packages/dill-docs/src/content/docs/usage/cli-usage.mdx
  packages/dill-docs/src/content/docs/usage/other-uses.mdx
Due: none

updates
  packages/dill-docs/src/content/docs/usage/api-usage.md
Due: none

wip
  packages/fluid-svelte/README.md
  packages/fluid-svelte/package.json
  packages/fluid-svelte/src/exampleWorkspaces.svelte.ts
  packages/fluid-svelte/src/lib/ReactiveStateWorkspace.svelte.ts
  packages/fluid-svelte/src/lib/index.ts
  packages/fluid-svelte/src/lib/patterns/ReactiveTreeNode.svelte.ts
  packages/fluid-svelte/src/lib/types.ts
  packages/fluid-svelte/static/favicon.png
  pnpm-lock.yaml
Due: none

wip
  packages/fluid-svelte/LICENSE
  packages/fluid-svelte/src/exampleWorkspaces.svelte.ts
  packages/fluid-svelte/src/lib/ReactiveStateWorkspace.svelte.ts
Due: none

docs(dill): Update docs (#232)
  packages/dill-docs/src/content/docs/introduction.mdx
  packages/dill-docs/src/content/docs/usage/api-usage.md
  packages/dill-docs/src/content/docs/usage/cli-usage.mdx
  packages/dill-docs/src/content/docs/usage/other-uses.mdx
  packages/dill/README.md
Due: dill

wip
  packages/repopo/src/policy.ts
Due: none

build(dill): Disable image CDN in netlify
  packages/dill-docs/astro.config.mjs
  pnpm-lock.yaml
Due: none

docs fixes
  packages/dill-docs/astro.config.mjs
  packages/dill-docs/src/content/docs/api/functions/download.md
  packages/dill-docs/src/content/docs/api/interfaces/DillOptions.md
  packages/dill-docs/src/content/docs/api/interfaces/DownloadResponse.md
  packages/dill-docs/src/content/docs/index.mdx
  packages/dill-docs/src/pages/robots.txt.ts
  packages/dill/src/api.ts
Due: dill

simplify download
  packages/dill/src/api.ts
Due: dill

reorg for maintenance
  packages/dill/src/api.ts
  packages/dill/src/commands/download.ts
  packages/dill/src/types.ts
Due: dill

build
  packages/dill-docs/src/content/docs/api/functions/download.md
  packages/dill-docs/src/content/docs/api/interfaces/DillOptions.md
  packages/dill-docs/src/content/docs/api/interfaces/DownloadResponse.md
  packages/dill/packlist.txt
  packages/dill/src/api.ts
  packages/dill/src/index.ts
  packages/dill/src/types.ts
Due: dill

direct exports
  packages/dill/src/index.ts
Due: dill

old doc
  packages/dill-docs/src/content/docs/usage/other-uses.mdx
Due: none

formatting
  packages/dill/src/api.ts
  packages/dill/src/types.ts
Due: dill

unneeed code
  packages/dill/src/commands/download.ts
Due: dill

build
  packages/dill-docs/src/content/docs/api/interfaces/DownloadResponse.md
Due: none

🚀 release: Update versions (#222)
  .changeset/chilly-colts-beam.md
  .changeset/cute-poets-lie.md
  .changeset/honest-doodles-ask.md
  .changeset/legal-cameras-lead.md
  .changeset/modern-years-send.md
  packages/cli-api/CHANGELOG.md
  packages/cli-api/THIRD-PARTY-LICENSES.txt
  packages/cli-api/package.json
  packages/cli/CHANGELOG.md
  packages/cli/THIRD-PARTY-LICENSES.txt
  packages/cli/package.json
  packages/dill/CHANGELOG.md
  packages/dill/THIRD-PARTY-LICENSES.txt
  packages/dill/package.json
  packages/fundamentals/CHANGELOG.md
  packages/fundamentals/package.json
  packages/lilconfig-loader-ts/CHANGELOG.md
  packages/lilconfig-loader-ts/package.json
  packages/repopo/CHANGELOG.md
  packages/repopo/THIRD-PARTY-LICENSES.txt
  packages/repopo/package.json
  packages/sort-tsconfig/CHANGELOG.md
  packages/sort-tsconfig/THIRD-PARTY-LICENSES.txt
  packages/sort-tsconfig/package.json
Due: dill, fundamentals

tests
  packages/dill/src/api.ts
  packages/dill/src/commands/download.ts
  packages/dill/test/__snapshots__/api.test.ts.snap
  packages/dill/test/api.test.ts
  packages/dill/test/commands/__snapshots__/download.test.ts.snap
  packages/dill/test/commands/download.test.ts
Due: dill

build
  packages/dill-docs/src/content/docs/api/functions/download.md
Due: none

refactor(dill): Reorganize code for maintainability (#233)
  packages/dill-docs/astro.config.mjs
  packages/dill-docs/src/content/docs/api/functions/download.md
  packages/dill-docs/src/content/docs/api/interfaces/DillOptions.md
  packages/dill-docs/src/content/docs/api/interfaces/DownloadResponse.md
  packages/dill-docs/src/content/docs/index.mdx
  packages/dill-docs/src/content/docs/usage/other-uses.mdx
  packages/dill-docs/src/pages/robots.txt.ts
  packages/dill/packlist.txt
  packages/dill/src/api.ts
  packages/dill/src/commands/download.ts
  packages/dill/src/index.ts
  packages/dill/src/types.ts
  packages/dill/test/__snapshots__/api.test.ts.snap
  packages/dill/test/api.test.ts
  packages/dill/test/commands/__snapshots__/download.test.ts.snap
  packages/dill/test/commands/download.test.ts
Due: dill

ci: Update actions to latest
  .github/workflows/pr-build.yml
  .github/workflows/release.yml
Due: none

initial changes
  packages/repopo/package.json
  packages/repopo/src/commands/check.ts
  packages/repopo/src/perf.ts
  packages/repopo/src/policies/NoJsFileExtensions.ts
  packages/repopo/src/policies/PackageJsonProperties.ts
  packages/repopo/src/policies/PackageJsonRepoDirectoryProperty.ts
  packages/repopo/src/policies/PackageJsonSorted.ts
  packages/repopo/src/policies/PackageScripts.ts
  packages/repopo/src/policy.ts
  packages/repopo/src/policyDefiners/defineFileHeaderPolicy.ts
  packages/repopo/src/policyDefiners/definePackagePolicy.ts
  pnpm-lock.yaml
Due: none

compiles
  packages/repopo/api-docs/repopo.api.md
  packages/repopo/src/commands/check.ts
  packages/repopo/src/perf.ts
Due: none

updates
  packages/repopo-docs/src/content/docs/api/functions/generateFileHeaderPolicy.md
  packages/repopo-docs/src/content/docs/api/functions/generatePackagePolicy.md
  packages/repopo-docs/src/content/docs/api/interfaces/FileHeaderGeneratorConfig.md
  packages/repopo-docs/src/content/docs/api/interfaces/FileHeaderPolicyConfig.md
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyDefinition.md
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyFailure.md
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyFixResult.md
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyFunctionArguments.md
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyInstanceSettings.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PackageJsonHandler.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PolicyHandler.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PolicyHandlerResult.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PolicyInstance.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PolicyName.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PolicyStandaloneResolver.md
  packages/repopo/src/commands/check.ts
  packages/repopo/src/policies/NoJsFileExtensions.ts
  packages/repopo/src/policies/PackageJsonRepoDirectoryProperty.ts
  packages/sort-tsconfig/src/policy.ts
Due: none

cleanup
  packages/repopo/src/policies/NoJsFileExtensions.ts
Due: none

fix
  packages/dill/test/commands/download.test.ts
Due: dill

init
  packages/cli-api/package.json
  packages/cli/package.json
  packages/dill-docs/package.json
  packages/dill/package.json
  packages/fundamentals/package.json
  packages/levee-client/package.json
  packages/lilconfig-loader-ts/package.json
  packages/repopo-docs/package.json
  packages/repopo/package.json
  packages/sort-tsconfig/package.json
  packages/xkcd2-api/package.json
  pnpm-lock.yaml
Due: dill, fundamentals

missed a couple
  packages/levee-client/api-docs/levee-client.api.md
  packages/levee-client/package.json
  packages/sort-tsconfig/package.json
Due: none

local paths
  packages/cli-api/src/commands/configTest.ts
Due: none

Path conditions:
  dill: any of: packages/dill/**
  fundamentals: any of: packages/fundamentals/**
