Repository tylerbutler/tools-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: dill, fundamentals, sort-tsconfig, cli, cli-api, xkcd2-api, ccl-test-viewer, sail, sail-infrastructure

loggers
  packages/cli-api/api-docs/cli-api.api.md
  packages/cli-api/package.json
  packages/cli-api/packlist.txt
  packages/cli-api/src/baseCommand.ts
  packages/cli-api/src/index.ts
  packages/cli-api/src/json.ts
  packages/cli-api/src/logger.ts
  packages/cli-api/src/loggers/basic.ts
  packages/cli-api/src/loggers/consola.ts
  packages/cli-api/test/commands/configTest.test.ts
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyFailure.md
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyFixResult.md
  packages/repopo-docs/src/content/docs/cli-reference.md
  packages/repopo/README.md
  packages/repopo/THIRD-PARTY-LICENSES.txt
  packages/repopo/api-docs/repopo.api.md
  packages/repopo/package.json
  packages/repopo/src/baseCommand.ts
  packages/repopo/src/perf.ts
  packages/repopo/src/policies/NoJsFileExtensions.ts
  packages/repopo/src/policies/PackageJsonProperties.ts
  packages/repopo/src/policies/PackageJsonRepoDirectoryProperty.ts
  packages/repopo/src/policies/PackageJsonSorted.ts
  packages/repopo/src/policy.ts
  packages/repopo/src/policyDefiners/defineFileHeaderPolicy.ts
  packages/repopo/src/policyDefiners/definePackagePolicy.ts
  packages/repopo/test/data/js-file.js
  packages/repopo/test/data/test-package/package.json
  packages/repopo/test/repopo.config.ts
  packages/sort-tsconfig/src/policy.ts
  packages/sort-tsconfig/test/commands/sort-tsconfig.test.ts
  repopo.config.ts
Due: sort-tsconfig, cli-api

fix: make sort-tsconfig and sort-package-json peer dependencies of repopo
  packages/repopo/package.json
  pnpm-lock.yaml
Due: none

lint and format
  packages/cli-api/src/baseCommand.ts
  packages/cli-api/src/json.ts
  packages/cli-api/src/loggers/basic.ts
  packages/cli-api/src/loggers/consola.ts
  packages/repopo/package.json
  packages/repopo/src/perf.ts
  packages/repopo/src/policies/PackageJsonRepoDirectoryProperty.ts
Due: cli-api

updates
  packages/cli-api/LOGGERS.md
  packages/cli-api/test/loggers.test.ts
  packages/repopo-docs/src/content/docs/api/functions/generatePackagePolicy.md
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyFailure.md
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyFixResult.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PackageJsonHandler.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PolicyHandlerResult.md
  packages/repopo-docs/src/content/docs/cli-reference.md
  packages/repopo/README.md
  packages/repopo/package.json
  packages/repopo/src/commands/check.ts
  packages/repopo/src/policies/LicenseFileExists.ts
  packages/repopo/src/policies/NoLargeBinaryFiles.ts
  packages/repopo/src/policies/PackageScripts.ts
  packages/repopo/src/policies/RequiredGitignorePatterns.ts
  packages/repopo/test/commands/__snapshots__/commands.json
  packages/repopo/test/policies/LicenseFileExists.test.ts
  packages/repopo/test/policies/NoLargeBinaryFiles.test.ts
  packages/repopo/test/policies/NoLargeBinaryFiles.utilities.test.ts
  packages/repopo/test/policies/PackageScripts.test.ts
  packages/repopo/test/policies/RequiredGitignorePatterns.test.ts
  packages/repopo/test/policies/RequiredGitignorePatterns.utilities.test.ts
Due: cli-api

fix(cli-api): require messages for semantic logger methods
  packages/cli-api/api-docs/cli-api.api.md
  packages/cli-api/src/baseCommand.ts
  packages/cli-api/src/index.ts
  packages/cli-api/src/logger.ts
  packages/cli-api/src/loggers/basic.ts
  packages/sail-infrastructure/docs/interfaces/Logger.md
  packages/sail-infrastructure/src/logging.ts
  packages/sail/src/commands/build.ts
  packages/sail/src/commands/scan.ts
Due: cli-api, sail, sail-infrastructure

feat!: rename errorLog to error, add exit() method
  packages/cli-api/api-docs/cli-api.api.md
  packages/cli-api/src/baseCommand.ts
  packages/cli-api/src/commands/configTest.ts
  packages/cli-api/src/configCommand.ts
  packages/cli-api/src/logger.ts
  packages/cli-api/src/loggers/basic.ts
  packages/cli-api/src/loggers/consola.ts
  packages/cli-api/test/loggers.test.ts
  packages/cli/src/commands/deps/sync.ts
  packages/cli/src/commands/fluid/repo-overlay.ts
  packages/cli/src/commands/git/merge-train/preview.ts
  packages/cli/src/commands/git/squish.ts
  packages/repopo/src/commands/check.ts
  packages/sort-tsconfig/src/commands/sort-tsconfig.ts
Due: sort-tsconfig, cli, cli-api

add design doc
  claudedocs/cli-api-capabilities-design.md
Due: none

feat(cli-api): implement composition-based capability system
  claudedocs/cli-api-capabilities-implementation-handoff.md
  packages/cli-api/package.json
  packages/cli-api/src/capabilities/capability.ts
  packages/cli-api/src/capabilities/config.ts
  packages/cli-api/src/capabilities/git.ts
  packages/cli-api/src/capabilities/index.ts
  packages/cli-api/src/index.ts
Due: cli-api

capmsystem
  claudedocs/cli-api-capabilities-implementation-handoff.md
  packages/cli-api/api-docs/cli-api.api.md
  packages/cli-api/src/capabilities/capability.ts
  packages/cli-api/src/capabilities/config.ts
  packages/cli-api/src/capabilities/git.ts
  packages/cli-api/test/capabilities/capability-holder.test.ts
  packages/cli-api/test/capabilities/config-capability.test.ts
  packages/cli-api/test/capabilities/git-capability.test.ts
  packages/cli/src/commands/git/squish.ts
Due: cli, cli-api

feedback
  .changeset/capability-context-rename.md
  packages/cli-api/api-docs/cli-api.api.md
  packages/cli-api/src/capabilities/capability.ts
  packages/cli-api/src/capabilities/config.ts
  packages/cli-api/src/capabilities/git.ts
  packages/cli-api/src/capabilities/index.ts
  packages/cli-api/test/capabilities/capability-holder.test.ts
Due: cli-api

refactor(cli-api): address PR feedback for capability system
  packages/cli-api/api-docs/cli-api.api.md
  packages/cli-api/src/capabilities/capability.ts
  packages/cli-api/src/capabilities/config.ts
  packages/cli-api/src/capabilities/git.ts
  packages/cli-api/src/capabilities/index.ts
  packages/cli-api/src/index.ts
Due: cli-api

lint
  config/biome/linter.jsonc
  packages/cli-api/api-docs/cli-api.api.md
  packages/cli-api/src/capabilities/capability.ts
  packages/cli-api/src/capabilities/config.ts
  packages/cli-api/src/capabilities/git.ts
  packages/cli-api/test/capabilities/capability-holder.test.ts
  packages/cli-api/test/capabilities/config-capability.test.ts
  packages/cli-api/test/capabilities/git-capability.test.ts
Due: cli-api

test(sail): complete Phase 1.1 - WorkerPool tests (23/23)
  packages/sail/TEST_IMPLEMENTATION_PROGRESS.md
  packages/sail/test/unit/core/tasks/workers/workerPool.test.ts
Due: sail

feat: implement structured concurrency with Effection for file operations and package syncing
  packages/cli/package.json
  packages/cli/src/commands/deps/sync.ts
  packages/cli/test/commands/deps/sync.cancellation.test.ts
  packages/dill-cli/package.json
  packages/dill-cli/src/api.ts
  packages/dill-cli/test/api.cancellation.test.ts
  pnpm-lock.yaml
Due: cli

test(sail): complete Phase 1.2 - TSC Worker tests (15/15)
  packages/sail/TEST_IMPLEMENTATION_PROGRESS.md
  packages/sail/test/unit/core/tasks/workers/tscWorker.test.ts
Due: sail

docs: add PR description for Effection implementation
  PR_DESCRIPTION.md
Due: none

test(sail): complete Phase 1.3 - ESLint Worker tests (19/19)
  packages/sail/TEST_IMPLEMENTATION_PROGRESS.md
  packages/sail/test/unit/core/tasks/workers/eslintWorker.test.ts
Due: sail

fix(ci): add main branch baseline tracking for bundlemon
  .github/workflows/bundle-tracking.yml
  .github/workflows/pr-build.yml
Due: none

test: replace placeholder tests with it.todo for future work
  packages/cli/test/commands/deps/sync.cancellation.test.ts
  packages/dill-cli/test/api.cancellation.test.ts
Due: none

docs: update PR description to reflect improved test quality
  PR_DESCRIPTION.md
Due: none

chore: add changesets for Effection implementation
  .changeset/effection-cli-deps-sync.md
  .changeset/effection-dill-cli.md
Due: none

refactor(cli): extract dep:sync logic to cli-api package
  packages/cli-api/package.json
  packages/cli-api/src/dependency-sync.ts
  packages/cli-api/src/index.ts
  packages/cli-api/test/dependency-sync.test.ts
  packages/cli/src/commands/deps/sync.ts
  packages/cli/test/lib/isSyncSupported.test.ts
  pnpm-lock.yaml
Due: cli, cli-api

refactor(ci): address PR feedback on bundle tracking workflow
  .github/actions/setup-node-pnpm/action.yml
  .github/workflows/bundle-tracking.yml
  .github/workflows/pr-build.yml
Due: none

refactor(ci): extract Nx setup to composite action
  .github/actions/setup-nx/action.yml
  .github/workflows/bundle-tracking.yml
  .github/workflows/dependabot-build-artifacts.yml
  .github/workflows/pr-build.yml
  .github/workflows/release.yml
Due: none

fix(ci): address additional PR feedback
  .github/actions/setup-nx/action.yml
  .github/workflows/pr-build.yml
  .github/workflows/release.yml
Due: none

format
  packages/cli-api/src/dependency-sync.ts
  packages/cli-api/src/index.ts
  packages/cli-api/test/dependency-sync.test.ts
  packages/cli/src/commands/deps/sync.ts
Due: cli, cli-api

fix(nx): improve affected detection for builds and lockfile changes
  .changeset/fix-type-safety-and-complexity.md
  nx.json
  packages/cli-api/api-docs/cli-api.api.md
  packages/cli-api/src/dependency-sync.ts
  packages/cli-api/test/dependency-sync.test.ts
  packages/cli/src/commands/deps/sync.ts
Due: cli, cli-api

nx cloud
  .github/actions/setup-nx/action.yml
  .github/workflows/bundle-tracking.yml
  .github/workflows/pr-build.yml
Due: none

Fix bundlemon configuration issue (#398)
  .github/actions/setup-node-pnpm/action.yml
  .github/actions/setup-nx/action.yml
  .github/workflows/bundle-tracking.yml
  .github/workflows/dependabot-build-artifacts.yml
  .github/workflows/pr-build.yml
  .github/workflows/release.yml
Due: none

fix(cli): add warning messages for deps:sync edge cases
  packages/cli-api/api-docs/cli-api.api.md
  packages/cli-api/src/dependency-sync.ts
  packages/cli-api/src/index.ts
  packages/cli/src/commands/deps/sync.ts
Due: cli, cli-api

test(cli-api): fix dependency-sync tests for API changes
  packages/cli-api/test/dependency-sync.test.ts
Due: none

refactor(cli-api): extract deps:sync logic and improve testing (#399)
  .changeset/fix-type-safety-and-complexity.md
  nx.json
  packages/cli-api/api-docs/cli-api.api.md
  packages/cli-api/package.json
  packages/cli-api/src/dependency-sync.ts
  packages/cli-api/src/index.ts
  packages/cli-api/test/dependency-sync.test.ts
  packages/cli/src/commands/deps/sync.ts
  packages/cli/test/lib/isSyncSupported.test.ts
  pnpm-lock.yaml
Due: cli, cli-api

ci: restrict Nx Cloud usage to main branch builds only
  .github/workflows/bundle-tracking.yml
  .github/workflows/pr-build.yml
  nx.json
Due: none

ci: disable Nx Cloud for main branch builds
  .github/workflows/pr-build.yml
Due: none

ci: disable Nx Cloud for bundle tracking workflow
  .github/workflows/bundle-tracking.yml
Due: none

Apply suggestions from code review
  .github/workflows/bundle-tracking.yml
  .github/workflows/pr-build.yml
  nx.json
Due: none

fix(ci): use NX_NO_CLOUD env var to properly disable Nx Cloud
  .github/actions/setup-nx/action.yml
  .github/workflows/bundle-tracking.yml
  .github/workflows/pr-build.yml
Due: none

formatting
  nx.json
Due: none

ci: disable Nx Cloud (#401)
  .github/actions/setup-nx/action.yml
  .github/workflows/bundle-tracking.yml
  .github/workflows/pr-build.yml
Due: none

Path conditions:
  dill: any of: packages/dill/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  fundamentals: any of: packages/fundamentals/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  sort-tsconfig: any of: packages/sort-tsconfig/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  cli: any of: packages/cli/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  cli-api: any of: packages/cli-api/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  xkcd2-api: any of: packages/xkcd2-api/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  ccl-test-viewer: any of: packages/ccl-test-viewer/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  sail: any of: packages/sail/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  sail-infrastructure: any of: packages/sail-infrastructure/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
