Repository tylerbutler/tools-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: dill, fundamentals

ci: Update renovate config
  renovate.json5
Due: none

test(dill): Additional tests
  packages/dill/test/api.test.ts
Due: dill

codecov
  .codecov.yml
Due: none

don't use fluid-build for test runs
  package.json
Due: none

add canary test
  packages/dill/test/api.test.ts
Due: dill

upload test results to codecov
  .github/workflows/pr-build.yml
Due: none

junit config
  config/vitest.config.ts
Due: none

renovate config
  renovate.json5
Due: none

renovate
  renovate.json5
Due: none

test output
  config/vitest.config.ts
Due: none

config
  config/vitest.config.ts
Due: none

test
  packages/dill/test/api.test.ts
  packages/dill/test/mocks/handlers.ts
Due: dill

new tests
  packages/dill/src/api.ts
  packages/dill/test/api.test.ts
Due: dill

new tests
  packages/dill/test/api.test.ts
Due: dill

api
  packages/dill/src/api.ts
Due: dill

test(dill): Additional tests (#95)
  .codecov.yml
  .github/workflows/pr-build.yml
  config/vitest.config.ts
  package.json
  packages/dill/src/api.ts
  packages/dill/test/api.test.ts
  packages/dill/test/mocks/handlers.ts
  renovate.json5
Due: dill

chore(repopo): Remove scope from package
  .changeset/clean-forks-cheat.md
  packages/repopo/CHANGELOG.md
  packages/repopo/README.md
  packages/repopo/package.json
  repopo.config.ts
Due: none

changeset
  .changeset/gentle-cars-design.md
Due: none

build
  package.json
  packages/repopo/README.md
  packages/repopo/api-docs/repopo.api.md
Due: none

chore(repopo): Remove scope from package (#97)
  .changeset/clean-forks-cheat.md
  .changeset/gentle-cars-design.md
  package.json
  packages/repopo/CHANGELOG.md
  packages/repopo/README.md
  packages/repopo/api-docs/repopo.api.md
  packages/repopo/package.json
  repopo.config.ts
Due: none

ci: Changeset config
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: none

build: Format code
  .changeset/config.json
  package.json
Due: none

lockfile
  pnpm-lock.yaml
Due: none

docs: Update changesets
  .changeset/clean-forks-cheat.md
  .changeset/few-mirrors-deny.md
  .changeset/tricky-emus-pump.md
Due: none

ci: Allow manual runs of release workflow
  .github/workflows/release.yml
Due: none

format
  biome.jsonc
Due: none

fix(dill): Mark dill as non-private
  packages/dill/package.json
Due: dill

bump changesets
  package.json
  pnpm-lock.yaml
Due: none

Use correct homepage URLs
  .changeset/grumpy-baboons-pump.md
Due: none

lefthook
  lefthook.yml
  packages/fundamentals/package.json
Due: fundamentals

Path conditions:
  dill: any of: packages/dill/**
  fundamentals: any of: packages/fundamentals/**
