Repository tylerbutler/tools-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: dill, fundamentals, sort-tsconfig, cli, cli-api, xkcd2-api, ccl-test-viewer, sail, sail-infrastructure

.codecov.yml:

comment:
  layout: "header, diff, components, files, footer"
  hide_project_coverage: false
  require_changes: true
  require_base: false
  require_head: true
  behavior: default

ignore:
  - "**/index.ts"
  - "**/index.js"
  - "**/index.mjs"
  - "**/index.cjs"
  - "**/*.test.ts"
  - "**/*.test.js"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/bin/**"
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/*.config.mjs"
  - "**/*.config.cjs"
  - "**/docs/**"
  - "**/.astro/**"
  - "**/dist/**"
  - "**/esm/**"
  - "**/build/**"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 10%
        base: auto
    patch:
      default:
        informational: true

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        branches:
          - "!main"
  individual_components:
    - component_id: dill # this is an identifier that should not be changed
      name: dill # this is a display name, and can be changed freely
      paths:
        - packages/dill/**
    - component_id: fundamentals
      name: fundamentals
      paths:
        - packages/fundamentals/**
    - component_id: sort-tsconfig
      name: sort-tsconfig
      paths:
        - packages/sort-tsconfig/**
    - component_id: cli
      name: cli
      paths:
        - packages/cli/**
    - component_id: cli-api
      name: cli-api
      paths:
        - packages/cli-api/**
    - component_id: xkcd2-api
      name: xkcd2-api
      paths:
        - packages/xkcd2-api/**
    - component_id: ccl-test-viewer
      name: ccl-test-viewer
      paths:
        - packages/ccl-test-viewer/**
    - component_id: sail
      name: sail
      paths:
        - packages/sail/**
    - component_id: sail-infrastructure
      name: sail-infrastructure
      paths:
        - packages/sail-infrastructure/**

test(sail): fix Phase 3 integration test configuration issues
  packages/sail/test/integration/scenarios/build-executor-integration.test.ts
  packages/sail/test/integration/scenarios/configuration-integration.test.ts
  packages/sail/test/integration/scenarios/task-dependencies-integration.test.ts
  packages/sail/test/integration/support/buildGraphIntegrationHelper.ts
Due: none

test(sail): add workspace files to all integration tests
  packages/sail/test/integration/scenarios/build-executor-integration.test.ts
  packages/sail/test/integration/scenarios/configuration-integration.test.ts
  packages/sail/test/integration/scenarios/task-dependencies-integration.test.ts
Due: none

test(sail): add comprehensive test coverage and fix critical bugs
  packages/sail-infrastructure/package.json
  packages/sail-infrastructure/src/stopwatch.ts
  packages/sail-infrastructure/src/test/errors.test.ts
  packages/sail-infrastructure/src/test/logging.test.ts
  packages/sail-infrastructure/src/test/stopwatch.test.ts
  packages/sail-infrastructure/src/test/types.test.ts
  packages/sail-infrastructure/src/test/utils.test.ts
  packages/sail-infrastructure/src/types.ts
  packages/sail-infrastructure/src/utils.ts
  packages/sail-infrastructure/vitest.config.ts
  pnpm-lock.yaml
Due: sail-infrastructure

test(sail): add workspaceCompatDeps and list command test coverage
  packages/sail-infrastructure/src/test/commands/list.test.ts
  packages/sail-infrastructure/src/test/workspaceCompatDeps.test.ts
Due: none

updates
  packages/sail-infrastructure/docs/classes/PackageBase.md
  packages/sail-infrastructure/docs/functions/getFiles.md
  packages/sail-infrastructure/docs/functions/getRemote.md
  packages/sail-infrastructure/src/buildProject.ts
  packages/sail-infrastructure/src/test/buildProject.test.ts
  packages/sail-infrastructure/src/test/errors.test.ts
  packages/sail-infrastructure/src/test/logging.test.ts
  packages/sail-infrastructure/src/test/workspaceCompat.test.ts
  packages/sail-infrastructure/src/test/workspaceCompatDeps.test.ts
  packages/sail-infrastructure/src/workspace.ts
  packages/sail-infrastructure/src/workspaceCompat.ts
  packages/sail-infrastructure/src/workspaceCompatDeps.ts
  packages/sail/command-snapshot.json
Due: sail, sail-infrastructure

build
  packages/sail-infrastructure/docs/classes/BuildProject.md
  packages/sail-infrastructure/docs/functions/generateBuildProjectConfig.md
  packages/sail-infrastructure/docs/functions/getAllDependencies.md
  packages/sail-infrastructure/docs/functions/loadBuildProject.md
  packages/sail-infrastructure/src/writeOnceMap.ts
Due: sail-infrastructure

testing
  packages/sail-infrastructure/src/test/buildProject.test.ts
  packages/sail-infrastructure/src/test/commands/list.test.ts
  packages/sail-infrastructure/src/test/logging.test.ts
  packages/sail-infrastructure/src/test/types.test.ts
  packages/sail-infrastructure/src/test/utils.test.ts
  packages/sail-infrastructure/src/test/workspaceCompat.test.ts
Due: none

test(sail): add comprehensive DependencyResolver unit tests
  packages/sail/test/unit/core/dependencies/DependencyResolver.test.ts
Due: none

test(sail): add withMatched method to PackageBuilder
  packages/sail/test/helpers/builders/PackageBuilder.ts
Due: none

fix(sail): fix early return bug in BuildGraph.initializeTasks
  packages/sail/src/core/buildGraph.ts
Due: sail

fix(sail): update integration tests to use tasksMap for task retrieval
  packages/sail/src/core/buildRepo.ts
  packages/sail/test/integration/scenarios/configuration-integration.test.ts
  packages/sail/test/integration/scenarios/task-dependencies-integration.test.ts
Due: sail

format
  packages/sail-infrastructure/docs/classes/PackageBase.md
  packages/sail-infrastructure/docs/functions/getFiles.md
  packages/sail-infrastructure/docs/functions/getRemote.md
  packages/sail/test/helpers/builders/GroupTaskBuilder.ts
  packages/sail/test/helpers/builders/LeafTaskBuilder.ts
  packages/sail/test/helpers/index.ts
  packages/sail/test/helpers/mockCommandRunner.ts
  packages/sail/test/helpers/mockFileSystem.ts
  packages/sail/test/integration/scenarios/build-executor-integration.test.ts
  packages/sail/test/integration/scenarios/configuration-integration.test.ts
  packages/sail/test/unit/core/analysis/ScriptAnalyzer.test.ts
  packages/sail/test/unit/core/cache/PersistentFileHashCache.test.ts
  packages/sail/test/unit/core/config/ConfigurationParser.test.ts
  packages/sail/test/unit/core/dependencies/DependencyResolver.test.ts
  packages/sail/test/unit/core/di/ServiceContainer.test.ts
  packages/sail/test/unit/core/di/ServiceRegistration.test.ts
  packages/sail/test/unit/core/errors/BuildError.test.ts
  packages/sail/test/unit/core/errors/ConfigurationError.test.ts
  packages/sail/test/unit/core/errors/DependencyError.test.ts
  packages/sail/test/unit/core/errors/ErrorHandler.test.ts
  packages/sail/test/unit/core/errors/ExecutionError.test.ts
  packages/sail/test/unit/core/errors/FileSystemError.test.ts
  packages/sail/test/unit/core/errors/SailError.test.ts
  packages/sail/test/unit/core/errors/errorUtils.test.ts
  packages/sail/test/unit/core/optimization/ParallelProcessor.test.ts
  packages/sail/test/unit/core/tasks/groupTask.test.ts
  packages/sail/test/unit/core/tasks/leaf/biomeTasks.test.ts
  packages/sail/test/unit/core/tasks/leaf/prettierTask.test.ts
  packages/sail/test/unit/core/tasks/leaf/tscTask.test.ts
  packages/sail/test/unit/core/tasks/leaf/webpackTask.test.ts
  packages/sail/test/unit/core/tasks/taskUtils.test.ts
  packages/sail/test/unit/core/tasks/workers/eslintWorker.test.ts
  packages/sail/test/unit/core/tasks/workers/tscWorker.test.ts
  packages/sail/test/unit/core/tasks/workers/workerPool.test.ts
Due: none

lint fixes
  packages/sail/test/helpers/mockCommandRunner.ts
  packages/sail/test/helpers/mockFileSystem.ts
  packages/sail/test/integration/scenarios/configuration-integration.test.ts
  packages/sail/test/integration/scenarios/task-dependencies-integration.test.ts
  packages/sail/test/unit/core/cache/PersistentFileHashCache.test.ts
  packages/sail/test/unit/core/errors/ErrorHandler.test.ts
  packages/sail/test/unit/core/tasks/groupTask.test.ts
  packages/sail/test/unit/core/tasks/leaf/biomeTasks.test.ts
  packages/sail/test/unit/core/tasks/leaf/prettierTask.test.ts
  packages/sail/test/unit/core/tasks/leaf/tscTask.test.ts
  packages/sail/test/unit/core/tasks/leaf/webpackTask.test.ts
  packages/sail/test/unit/core/tasks/taskUtils.test.ts
  packages/sail/test/unit/core/tasks/workers/eslintWorker.test.ts
  packages/sail/test/unit/core/tasks/workers/tscWorker.test.ts
  packages/sail/test/unit/core/tasks/workers/workerPool.test.ts
Due: none

for atting
  packages/sail/command-snapshot.json
  packages/sail/test/integration/scenarios/configuration-integration.test.ts
  packages/sail/test/integration/scenarios/task-dependencies-integration.test.ts
  packages/sail/test/unit/core/cache/PersistentFileHashCache.test.ts
  packages/sail/test/unit/core/tasks/leaf/biomeTasks.test.ts
  packages/sail/test/unit/core/tasks/leaf/tscTask.test.ts
  packages/sail/test/unit/core/tasks/taskUtils.test.ts
Due: sail

tests
  packages/sail/test/helpers/builders/GroupTaskBuilder.ts
  packages/sail/test/helpers/builders/LeafTaskBuilder.ts
  packages/sail/test/helpers/index.ts
  packages/sail/test/integration/scenarios/build-executor-integration.test.ts
  packages/sail/test/integration/scenarios/configuration-integration.test.ts
  packages/sail/test/unit/core/analysis/ScriptAnalyzer.test.ts
  packages/sail/test/unit/core/cache/PersistentFileHashCache.test.ts
  packages/sail/test/unit/core/errors/ErrorHandler.test.ts
  packages/sail/test/unit/core/errors/errorUtils.test.ts
  packages/sail/test/unit/core/parseCommands.test.ts
  packages/sail/test/unit/core/tasks/leaf/biomeTasks.test.ts
  packages/sail/test/unit/core/tasks/leaf/tscTask.test.ts
Due: none

fix(config): read sail.tasks property in ConfigurationParser
  packages/sail/src/core/config/ConfigurationParser.ts
Due: sail

test(unit): fix failing unit tests
  packages/sail/test/unit/core/buildGraph.initialization.test.ts
  packages/sail/test/unit/core/buildGraph.test.ts
  packages/sail/test/unit/core/buildGraphPackage.comprehensive.test.ts
  packages/sail/test/unit/core/cache/PersistentFileHashCache.test.ts
Due: none

fix(test): resolve package matching issues in integration tests
  packages/sail/src/core/buildRepo.ts
  packages/sail/test/integration/support/buildGraphIntegrationHelper.ts
Due: sail

fix(test): enable inference mode and add workspace root filtering
  packages/sail/src/core/buildRepo.ts
  packages/sail/test/integration/scenarios/configuration-integration.test.ts
Due: sail

fix(test): resolve 2 failing integration tests
  packages/sail/command-snapshot.json
  packages/sail/src/core/buildGraph.ts
  packages/sail/src/core/buildRepo.ts
  packages/sail/src/core/tasks/TaskManager.ts
  packages/sail/test/integration/scenarios/configuration-integration.test.ts
  packages/sail/test/integration/scenarios/task-dependencies-integration.test.ts
Due: sail

format and lint
  packages/sail/command-snapshot.json
  packages/sail/test/integration/scenarios/task-dependencies-integration.test.ts
  packages/sail/test/unit/core/buildGraphPackage.comprehensive.test.ts
  packages/sail/test/unit/core/cache/PersistentFileHashCache.test.ts
Due: sail

tasks
  packages/cli/package.json
  packages/fundamentals/package.json
  packages/repopo/package.json
  packages/sail-infrastructure/package.json
  packages/sail/command-snapshot.json
  packages/sail/package.json
  packages/sail/test/commands/__snapshots__/commands.json
Due: fundamentals, cli, sail, sail-infrastructure

skip
  packages/sail/test/unit/core/cache/PersistentFileHashCache.test.ts
Due: none

changesets
  .changeset/add-sail-build-orchestration.md
  .changeset/add-sail-infrastructure-library.md
Due: none

fix(sail): make concurrency default non-machine-specific for README generation
  packages/sail/README.md
  packages/sail/src/commands/build.ts
  packages/sail/src/core/options.ts
Due: sail

feat(sail): add docs build and OCLIF plugins
  packages/sail/README.md
  packages/sail/api-docs/sail.api.md
  packages/sail/docs/build.md
  packages/sail/docs/cache.md
  packages/sail/docs/scan.md
  packages/sail/docs/version.md
  packages/sail/package.json
  packages/sail/test/commands/__snapshots__/commands.json
  pnpm-lock.yaml
Due: sail

feat(sail): add autocomplete, commands, and help plugins
  packages/sail/package.json
  packages/sail/test/commands/__snapshots__/commands.json
  pnpm-lock.yaml
Due: sail

build
  packages/sail/README.md
  packages/sail/docs/autocomplete.md
  packages/sail/docs/commands.md
  packages/sail/docs/help.md
Due: sail

api-extractor
  packages/sail/api-docs/sail.api.md
  packages/sail/src/common/npmPackage.ts
  packages/sail/src/common/utils.ts
  packages/sail/src/core/buildContext.ts
  packages/sail/src/core/buildGraph.ts
  packages/sail/src/core/config.ts
  packages/sail/src/core/dependencies/DependencyResolver.ts
  packages/sail/src/core/execution/BuildResult.ts
  packages/sail/src/core/fileHashCache.ts
  packages/sail/src/core/interfaces/IBuildExecutor.ts
  packages/sail/src/core/interfaces/IDependencyResolver.ts
  packages/sail/src/core/performance/BuildProfiler.ts
  packages/sail/src/core/performance/PerformanceMonitor.ts
  packages/sail/src/core/sailConfig.ts
  packages/sail/src/core/sharedCache/sharedCacheManager.ts
  packages/sail/src/core/sharedCache/types.ts
  packages/sail/src/core/taskDefinitions.ts
  packages/sail/src/core/tasks/TaskHandlerRegistry.ts
  packages/sail/src/core/tasks/TaskManager.ts
  packages/sail/src/core/tasks/leaf/flubTasks.ts
  packages/sail/src/core/tasks/leaf/leafTask.ts
  packages/sail/src/core/tasks/leaf/lintTasks.ts
  packages/sail/src/core/tasks/leaf/prettierTask.ts
  packages/sail/src/core/tasks/leaf/tscTask.ts
  packages/sail/src/core/tasks/leaf/webpackTask.ts
  packages/sail/src/core/tasks/task.ts
  packages/sail/src/core/tasks/taskHandlers.ts
  packages/sail/src/core/tasks/workers/worker.ts
  packages/sail/src/core/tasks/workers/workerPool.ts
  packages/sail/src/index.ts
Due: sail

updates
  packages/sail/README.md
  packages/sail/docs/cache.md
  packages/sail/package.json
Due: sail

fix(sail): prevent auto-creation of tasks with before/after wildcards
  packages/sail/src/core/tasks/TaskManager.ts
  packages/sail/test/integration/scenarios/task-dependencies-integration.test.ts
Due: sail

build
  packages/sail/api-docs/sail.api.md
  packages/sail/src/core/interfaces/ICacheableTask.ts
  packages/sail/src/core/interfaces/index.ts
  packages/sail/src/core/tasks/TaskManager.ts
  packages/sail/src/core/tasks/leaf/apiExtractorTask.ts
  packages/sail/src/core/tasks/leaf/biomeTasks.ts
  packages/sail/src/core/tasks/leaf/declarativeTask.ts
  packages/sail/src/core/tasks/leaf/flubTasks.ts
  packages/sail/src/core/tasks/leaf/generateEntrypointsTask.ts
  packages/sail/src/core/tasks/leaf/leafTask.ts
  packages/sail/src/core/tasks/leaf/lintTasks.ts
  packages/sail/src/core/tasks/leaf/miscTasks.ts
  packages/sail/src/core/tasks/leaf/prettierTask.ts
  packages/sail/src/core/tasks/leaf/tscTask.ts
  packages/sail/src/core/tasks/leaf/webpackTask.ts
  packages/sail/src/index.ts
Due: sail

for,at
  packages/sail/src/index.ts
Due: none

fix(sail): skip non-existent files during cache operations
  packages/sail/src/core/sharedCache/fileOperations.ts
  packages/sail/src/core/sharedCache/sharedCacheManager.ts
Due: sail

add missing tasks
  packages/sail/src/core/tasks/leaf/flubTasks.ts
  packages/sail/src/core/tasks/taskFactory.ts
Due: sail

updates
  packages/sail/api-docs/sail.api.md
  packages/sail/src/commands/build.ts
  packages/sail/src/core/buildGraph.ts
  packages/sail/src/core/options.ts
  packages/sail/src/core/sharedCache/fileOperations.ts
  packages/sail/src/core/tasks/leaf/commonDeclarativeTasks.ts
  packages/sail/src/core/tasks/leaf/flubTasks.ts
  packages/sail/src/core/tasks/leaf/leafTask.ts
  packages/sail/src/core/tasks/taskFactory.ts
Due: sail

fix(sail): exclude done file from cache input files to ensure stable cache keys
  packages/sail/src/core/tasks/leaf/leafTask.ts
Due: sail

updates
  packages/sail/api-docs/sail.api.md
  packages/sail/src/commands/build.ts
  packages/sail/src/common/cacheUtils.ts
  packages/sail/src/core/sharedCache/fileOperations.ts
  packages/sail/src/core/sharedCache/init.ts
  packages/sail/src/core/sharedCache/sharedCacheManager.ts
  packages/sail/src/core/sharedCache/types.ts
  packages/sail/src/core/tasks/leaf/commonDeclarativeTasks.ts
  packages/sail/src/core/tasks/leaf/tscTask.ts
  packages/sail/src/flags.ts
  packages/sail/test/commands/__snapshots__/commands.json
Due: sail
