Repository tylerbutler/tools-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: dill, fundamentals, sort-tsconfig, cli, cli-api, xkcd2-api, ccl-test-viewer, sail, sail-infrastructure

ci: update Claude actions (#373)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/pr-build.yml
Due: none

feat(sail): migrate from cosmiconfig to lilconfig
  packages/sail-infrastructure/package.json
  packages/sail-infrastructure/src/config.ts
  packages/sail/package.json
  packages/sail/src/core/config.ts
  packages/sail/test/unit/core/config/config-loading.test.ts
  pnpm-lock.yaml
Due: sail, sail-infrastructure

format
  packages/sail-infrastructure/src/config.ts
  packages/sail/src/core/config.ts
  packages/sail/test/unit/core/config/config-loading.test.ts
Due: sail, sail-infrastructure

build
  packages/sail-infrastructure/docs/functions/getBuildProjectConfig.md
  packages/sail-infrastructure/docs/functions/isV1Config.md
  packages/sail-infrastructure/docs/interfaces/BuildProjectConfigV1.md
  packages/sail-infrastructure/docs/interfaces/IFluidBuildDir.md
  packages/sail-infrastructure/docs/interfaces/IFluidBuildDirs.md
  packages/sail-infrastructure/docs/interfaces/ReleaseGroupDefinition.md
  packages/sail-infrastructure/docs/interfaces/WorkspaceDefinition.md
  packages/sail-infrastructure/docs/type-aliases/BuildProjectConfig.md
  packages/sail-infrastructure/docs/type-aliases/BuildProjectConfigV2.md
  packages/sail-infrastructure/docs/type-aliases/IFluidBuildDirEntry.md
  packages/sail-infrastructure/docs/variables/BUILDPROJECT_CONFIG_MIN_VERSION.md
Due: none

feat(sail): add sailing boat animation for CLI
  packages/sail/CLAUDE.md
  packages/sail/README.md
  packages/sail/SAIL_ANIMATION.md
  packages/sail/docs/demo-animation.md
  packages/sail/src/commands/demo-animation.ts
  packages/sail/src/core/execution/SailAnimation.ts
  packages/sail/test/commands/__snapshots__/commands.json
  packages/sail/test/unit/core/execution/SailAnimation.test.ts
Due: sail

feat(sail): improve animation detail and remove vertical bobbing
  packages/sail/src/core/execution/SailAnimation.ts
  packages/sail/test/unit/core/execution/SailAnimation.test.ts
Due: sail

feat(sail): create highly detailed Unicode sailboat
  packages/sail/src/core/execution/SailAnimation.ts
  packages/sail/test/unit/core/execution/SailAnimation.test.ts
Due: sail

lockfile
  pnpm-lock.yaml
Due: none

updates
  packages/cli/docs/autocomplete.md
  packages/cli/docs/commands.md
  packages/cli/docs/help.md
  packages/cli/docs/search.md
  packages/cli/docs/version.md
  packages/cli/docs/which.md
  packages/fundamentals/docs/index.md
  packages/sail-infrastructure/docs/classes/NotInGitRepository.md
  packages/sail/README.md
  packages/sail/docs/autocomplete.md
  packages/sail/docs/build.md
  packages/sail/docs/cache.md
  packages/sail/docs/commands.md
  packages/sail/docs/help.md
  packages/sail/docs/version.md
  pnpm-lock.yaml
Due: sail

readme
  packages/sail/README.md
Due: sail

fix
  packages/sail/api-docs/sail.api.md
  packages/sail/src/core/tasks/leaf/leafTask.ts
Due: sail

tsconfigs
  packages/cli-api/tsconfig.json
  packages/cli/tsconfig.json
  packages/dill-docs/tsconfig.json
  packages/sail-infrastructure/tsconfig.json
  packages/sail/tsconfig.json
  tsconfig.json
Due: cli, cli-api, sail, sail-infrastructure

chore(nx): optimize cache configuration and documentation
  CLAUDE.md
  nx.json
Due: none

ci: disable Nx Cloud for PR builds
  .github/workflows/pr-build.yml
Due: none

ci: disable Nx Cloud task distribution for all builds
  .github/workflows/pr-build.yml
Due: none

root
  package.json
Due: none

build: add root-level tasks with caching (#352)
  package.json
  syncpack.config.cjs
Due: none

feat(repopo): add configurable PackageScripts policy
  .changeset/configurable-package-scripts-policy.md
  packages/repopo/src/policies.ts
  packages/repopo/src/policies/PackageScripts.ts
  repopo.config.ts
Due: none

chore(repopo): configure PackageScripts policy
  repopo.config.ts
Due: none

fix(repopo): correct mutuallyExclusive validation logic
  packages/repopo/src/policies/PackageScripts.ts
  packages/repopo/test/policies/PackageScripts.test.ts
Due: none

chore(repopo): configure PackageScripts policy
  packages/sail/package.json
  repopo.config.ts
Due: sail

fix(repopo): correct excluded file counter
  packages/repopo/src/commands/check.ts
Due: none

fix(repopo): improve excluded counter accuracy
  packages/repopo/src/commands/check.ts
Due: none

docs(repopo): document PackageScripts policy
  packages/repopo-docs/src/content/docs/policies/built-in.mdx
  packages/repopo/README.md
Due: none

feat(repopo): add configurable PackageScripts policy (#376)
  .changeset/configurable-package-scripts-policy.md
  packages/repopo/src/commands/check.ts
  packages/repopo/src/policies.ts
  packages/repopo/src/policies/PackageScripts.ts
  packages/repopo/test/policies/PackageScripts.test.ts
  packages/sail/package.json
  repopo.config.ts
Due: sail

docs(repopo): enhance built-in policies documentation
  packages/repopo-docs/src/content/docs/policies/built-in.mdx
Due: none

refactor(repopo-docs): replace Code component with standard markdown code blocks
  packages/repopo-docs/src/content/docs/policies/built-in.mdx
Due: none

update
  packages/repopo/README.md
Due: none

fix(nx): eliminate duplicate task execution via synthetic targets
  CLAUDE.md
  README.md
  packages/ccl-docs/package.json
  packages/ccl-test-viewer/package.json
  packages/cli-api/package.json
  packages/dill-cli/package.json
  packages/dill-docs/package.json
  packages/levee-client/package.json
  packages/lilconfig-loader-ts/package.json
  packages/repopo-docs/package.json
  packages/sort-tsconfig/package.json
Due: sort-tsconfig, cli-api, ccl-test-viewer

chore(nx): optimize cache configuration and documentation (#375)
  .github/workflows/pr-build.yml
  CLAUDE.md
  nx.json
Due: none

chore: add changeset for duplicate task execution fix
  .changeset/fix-duplicate-task-execution.md
Due: none

chore: remove changeset - internal build improvements don't require package publishing
  .changeset/fix-duplicate-task-execution.md
Due: none

fix(ccl-test-viewer): inherit root build dependencies
  packages/ccl-test-viewer/package.json
Due: ccl-test-viewer

fix(nx): eliminate duplicate task execution + enhance task documentation (#377)
  CLAUDE.md
  README.md
  packages/ccl-docs/package.json
  packages/ccl-test-viewer/package.json
  packages/cli-api/package.json
  packages/dill-cli/package.json
  packages/dill-docs/package.json
  packages/levee-client/package.json
  packages/lilconfig-loader-ts/package.json
  packages/repopo-docs/package.json
  packages/repopo-docs/src/content/docs/policies/built-in.mdx
  packages/sort-tsconfig/package.json
Due: sort-tsconfig, cli-api, ccl-test-viewer

fix(lint): address auto-fixable lint issues
  packages/repopo/src/policies/PackageScripts.ts
  packages/sail/test/unit/core/execution/ProgressBarManager.test.ts
Due: none

feat(sail): migrate from cosmiconfig to lilconfig (#374)
  packages/repopo/src/policies/PackageScripts.ts
  packages/sail-infrastructure/docs/functions/getBuildProjectConfig.md
  packages/sail-infrastructure/docs/functions/isV1Config.md
  packages/sail-infrastructure/docs/interfaces/BuildProjectConfigV1.md
  packages/sail-infrastructure/docs/interfaces/IFluidBuildDir.md
  packages/sail-infrastructure/docs/interfaces/IFluidBuildDirs.md
  packages/sail-infrastructure/docs/interfaces/ReleaseGroupDefinition.md
  packages/sail-infrastructure/docs/interfaces/WorkspaceDefinition.md
  packages/sail-infrastructure/docs/type-aliases/BuildProjectConfig.md
  packages/sail-infrastructure/docs/type-aliases/BuildProjectConfigV2.md
  packages/sail-infrastructure/docs/type-aliases/IFluidBuildDirEntry.md
  packages/sail-infrastructure/docs/variables/BUILDPROJECT_CONFIG_MIN_VERSION.md
  packages/sail-infrastructure/package.json
  packages/sail-infrastructure/src/config.ts
  packages/sail/package.json
  packages/sail/src/core/config.ts
  packages/sail/test/unit/core/config/config-loading.test.ts
  packages/sail/test/unit/core/execution/ProgressBarManager.test.ts
  pnpm-lock.yaml
Due: sail, sail-infrastructure

chore: update pnpm-lock.yaml after merge
  pnpm-lock.yaml
Due: none

refactor(repopo): reduce cognitive complexity in PackageScripts policy
  nx.json
  package.json
  packages/ccl-test-viewer/package.json
  packages/repopo/src/policies/PackageScripts.ts
  packages/repopo/test/policies/PackageScripts.test.ts
  repopo.config.ts
Due: ccl-test-viewer

Path conditions:
  dill: any of: packages/dill/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  fundamentals: any of: packages/fundamentals/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  sort-tsconfig: any of: packages/sort-tsconfig/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  cli: any of: packages/cli/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  cli-api: any of: packages/cli-api/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  xkcd2-api: any of: packages/xkcd2-api/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  ccl-test-viewer: any of: packages/ccl-test-viewer/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  sail: any of: packages/sail/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  sail-infrastructure: any of: packages/sail-infrastructure/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
