Repository tylerbutler/tools-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: dill, fundamentals

changeset
  .changeset/sweet-walls-grow.md
Due: none

wip
  packages/cli-api/package.json
Due: none

fix name
  .changeset/sweet-walls-grow.md
  packages/lilconfig-loader-ts/api-docs/lilconfig-loader-ts.api.md
  packages/lilconfig-loader-ts/package.json
Due: none

lockfile
  pnpm-lock.yaml
Due: none

updates
  packages/cli-api/api-docs/cli-api.api.md
  packages/cli-api/src/json.ts
  packages/cli-api/src/loadConfig.ts
  packages/cli-api/test/json.test.ts
Due: none

syncpack
  packages/lilconfig-loader-ts/package.json
Due: none

gen licenses
  fluidBuild.config.cjs
  package.json
  packages/cli-api/THIRD-PARTY-LICENSES.txt
  packages/cli-api/package.json
  packages/cli-api/packlist.txt
  packages/cli/THIRD-PARTY-LICENSES.txt
  packages/cli/package.json
  packages/dill/THIRD-PARTY-LICENSES.txt
  packages/dill/package.json
  packages/repopo/THIRD-PARTY-LICENSES.txt
  packages/repopo/package.json
  packages/sort-tsconfig/THIRD-PARTY-LICENSES.txt
  packages/sort-tsconfig/package.json
  packages/xkcd2-api/CHANGELOG.md
Due: dill

fixes
  package.json
  packages/cli-api/packlist.txt
Due: none

New package: @tylerbu/lilconfig-loader-ts (#177)
  .changeset/sweet-walls-grow.md
  config/tsconfig.base.json
  packages/lilconfig-loader-ts/LICENSE
  packages/lilconfig-loader-ts/README.md
  packages/lilconfig-loader-ts/THIRD-PARTY-LICENSES.txt
  packages/lilconfig-loader-ts/api-docs/lilconfig-loader-ts.api.md
  packages/lilconfig-loader-ts/api-extractor.json
  packages/lilconfig-loader-ts/biome.jsonc
  packages/lilconfig-loader-ts/package.json
  packages/lilconfig-loader-ts/packlist.txt
  packages/lilconfig-loader-ts/src/index.ts
  packages/lilconfig-loader-ts/src/loader.ts
  packages/lilconfig-loader-ts/tsconfig.json
  pnpm-lock.yaml
Due: none

New package: @tylerbu/lilconfig-loader-ts (#177)
  .changeset/sweet-walls-grow.md
  config/tsconfig.base.json
  packages/lilconfig-loader-ts/.gitignore
  packages/lilconfig-loader-ts/LICENSE
  packages/lilconfig-loader-ts/README.md
  packages/lilconfig-loader-ts/THIRD-PARTY-LICENSES.txt
  packages/lilconfig-loader-ts/api-docs/lilconfig-loader-ts.api.md
  packages/lilconfig-loader-ts/api-extractor.json
  packages/lilconfig-loader-ts/biome.jsonc
  packages/lilconfig-loader-ts/package.json
  packages/lilconfig-loader-ts/packlist.txt
  packages/lilconfig-loader-ts/src/index.ts
  packages/lilconfig-loader-ts/src/loader.ts
  packages/lilconfig-loader-ts/tsconfig.json
  pnpm-lock.yaml
Due: none

linux
  packages/cli-api/THIRD-PARTY-LICENSES.txt
  packages/cli/THIRD-PARTY-LICENSES.txt
  packages/dill/THIRD-PARTY-LICENSES.txt
  packages/repopo/THIRD-PARTY-LICENSES.txt
  packages/sort-tsconfig/THIRD-PARTY-LICENSES.txt
Due: dill

updates
  .generatelicensefile.cjs
  package.json
  packages/cli-api/package.json
  packages/cli/package.json
  packages/dill/package.json
  packages/lilconfig-loader-ts/package.json
  packages/repopo/package.json
  packages/sort-tsconfig/package.json
  pnpm-lock.yaml
Due: dill

linux
  packages/cli/THIRD-PARTY-LICENSES.txt
  packages/dill/THIRD-PARTY-LICENSES.txt
  packages/repopo/THIRD-PARTY-LICENSES.txt
  packages/sort-tsconfig/THIRD-PARTY-LICENSES.txt
Due: dill

bun install
  bun.lock
  package.json
  pnpm-lock.yaml
Due: none

build(deps): Update low-risk deps
  config/package.json
  package.json
  packages/cli-api/package.json
  packages/cli/package.json
  packages/dill-docs/package.json
  packages/dill/package.json
  packages/fundamentals/package.json
  packages/lilconfig-loader-ts/package.json
  packages/repopo/api-docs/repopo.api.md
  packages/repopo/package.json
  packages/sort-tsconfig/package.json
  packages/xkcd2-api/package.json
  pnpm-lock.yaml
Due: dill, fundamentals

actions
  .github/workflows/pr-build.yml
  .github/workflows/release.yml
Due: none

updates
  .github/workflows/pr-build.yml
  .github/workflows/release.yml
Due: none

ci: Update GitHub actions (#181)
  .github/workflows/pr-build.yml
  .github/workflows/release.yml
Due: none

revert
  packages/repopo/api-docs/repopo.api.md
Due: none

rm cosmicconfig dep
  .changeset/heavy-walls-laugh.md
  packages/cli-api/package.json
  packages/repopo/package.json
  pnpm-lock.yaml
Due: none

update
  .changeset/heavy-walls-laugh.md
Due: none

build(deps): Update low-risk deps (#179)
  config/package.json
  package.json
  packages/cli-api/package.json
  packages/cli/package.json
  packages/dill-docs/package.json
  packages/dill/package.json
  packages/fundamentals/package.json
  packages/lilconfig-loader-ts/package.json
  packages/repopo/package.json
  packages/sort-tsconfig/package.json
  packages/xkcd2-api/package.json
  pnpm-lock.yaml
Due: dill, fundamentals

Update packages/cli-api/test/tsconfig.json
  packages/cli-api/test/tsconfig.json
Due: none

Update packages/cli-api/src/commands/configTest.ts
  packages/cli-api/src/commands/configTest.ts
Due: none

refactor(cli-api): replace cosmicconfig with lilconfig (#157)
  .changeset/heavy-walls-laugh.md
  biome.jsonc
  packages/cli-api/api-docs/cli-api.api.md
  packages/cli-api/package.json
  packages/cli-api/packlist.txt
  packages/cli-api/src/commands/configTest.ts
  packages/cli-api/src/commands/configTestNoDefault.ts
  packages/cli-api/src/configCommand.ts
  packages/cli-api/src/json.ts
  packages/cli-api/src/loadConfig.ts
  packages/cli-api/src/testConfig.ts
  packages/cli-api/test/commands/configTest.test.ts
  packages/cli-api/test/common.ts
  packages/cli-api/test/data/configs/nested/level2/.keep
  packages/cli-api/test/data/configs/test-module-cjs.config.cjs
  packages/cli-api/test/data/configs/test-module-esm.config.mjs
  packages/cli-api/test/data/configs/test-module-ts.config.ts
  packages/cli-api/test/data/json/spaces/_package.json
  packages/cli-api/test/data/json/tabs/_package.json
  packages/cli-api/test/json.test.ts
  packages/cli-api/test/loadConfig.test.ts
  packages/cli-api/test/tsconfig.json
  packages/cli-api/vitest.config.ts
  packages/repopo/package.json
  pnpm-lock.yaml
Due: none

gen
  packages/cli-api/THIRD-PARTY-LICENSES.txt
  packages/dill/THIRD-PARTY-LICENSES.txt
  packages/repopo/THIRD-PARTY-LICENSES.txt
  packages/sort-tsconfig/THIRD-PARTY-LICENSES.txt
Due: dill

add empty changelog file
  packages/lilconfig-loader-ts/CHANGELOG.md
Due: none

packlist
  packages/lilconfig-loader-ts/packlist.txt
Due: none

refactor(repopo): Update deps
  packages/repopo/package.json
  packages/repopo/src/policies/PackageJsonRepoDirectoryProperty.ts
  pnpm-lock.yaml
Due: none

refactor(repopo): Update deps (#183)
  packages/repopo/package.json
  packages/repopo/src/policies/PackageJsonRepoDirectoryProperty.ts
  pnpm-lock.yaml
Due: none

build
  packages/repopo/THIRD-PARTY-LICENSES.txt
Due: none

build: Generate licenses file during build (#178)
  .generatelicensefile.cjs
  fluidBuild.config.cjs
  package.json
  packages/cli-api/THIRD-PARTY-LICENSES.txt
  packages/cli-api/package.json
  packages/cli/THIRD-PARTY-LICENSES.txt
  packages/cli/package.json
  packages/dill/THIRD-PARTY-LICENSES.txt
  packages/dill/package.json
  packages/lilconfig-loader-ts/CHANGELOG.md
  packages/lilconfig-loader-ts/package.json
  packages/lilconfig-loader-ts/packlist.txt
  packages/repopo/THIRD-PARTY-LICENSES.txt
  packages/repopo/package.json
  packages/sort-tsconfig/THIRD-PARTY-LICENSES.txt
  packages/sort-tsconfig/package.json
  packages/xkcd2-api/CHANGELOG.md
  pnpm-lock.yaml
Due: dill

refactor(sort-tsconfig): Replace globby with tinyglobby
  packages/sort-tsconfig/README.md
  packages/sort-tsconfig/package.json
  packages/sort-tsconfig/src/commands/sort-tsconfig.ts
  pnpm-lock.yaml
Due: none

Path conditions:
  dill: any of: packages/dill/**
  fundamentals: any of: packages/fundamentals/**
