Repository tylerbutler/tools-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: dill, fundamentals

.codecov.yml:

comment:
  layout: "condensed_header, diff, flags, components"

coverage:
  status:
    project:
      dill:
        paths:
          - packages/dill/**
      fundamentals:
        paths:
          - packages/fundamentals/**
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: dill # this is an identifier that should not be changed
      name: dill # this is a display name, and can be changed freely
      paths:
        - packages/dill/**
    - component_id: fundamentals
      name: fundamentals
      paths:
        - packages/fundamentals/**

refactor(repopo): Update code to be more modular (#226)
  packages/repopo/package.json
  packages/repopo/src/baseCommand.ts
  packages/repopo/src/commands/check.ts
  packages/repopo/src/context.ts
  packages/sort-tsconfig/src/policy.ts
  pnpm-lock.yaml
  repopo.config.ts
Due: none

cleanup
  packages/repopo/src/commands/check.ts
  packages/repopo/src/index.ts
  packages/repopo/src/policyGenerators/generatePackagePolicy.ts
Due: none

changesets
  .changeset/cute-poets-lie.md
  .changeset/legal-cameras-lead.md
Due: none

updates
  packages/repopo-docs/src/content/docs/api/README.md
  packages/repopo-docs/src/content/docs/api/functions/generateFileHeaderPolicy.md
  packages/repopo-docs/src/content/docs/api/functions/generatePackagePolicy.md
  packages/repopo-docs/src/content/docs/api/functions/makePolicy.md
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyDefinition.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PackageJsonHandler.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PolicyHandlerResult.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PolicyInstance.md
  packages/repopo/api-docs/repopo.api.md
  packages/repopo/packlist.txt
  packages/repopo/src/commands/check.ts
  packages/repopo/src/index.ts
  packages/repopo/src/policies/NoJsFileExtensions.ts
  packages/repopo/src/policyGenerators/generatePackagePolicy.ts
  packages/repopo/src/policyGenerators/generatePolicy.ts
  packages/sort-tsconfig/api-docs/sort-tsconfig.api.md
  packages/sort-tsconfig/src/policy.ts
Due: none

updates
  packages/repopo-docs/src/content/docs/api/functions/generateFileHeaderPolicy.md
  packages/repopo-docs/src/content/docs/api/functions/generatePackagePolicy.md
  packages/repopo-docs/src/content/docs/api/functions/makePolicy.md
  packages/repopo-docs/src/content/docs/api/interfaces/FileHeaderGeneratorConfig.md
  packages/repopo-docs/src/content/docs/api/interfaces/FileHeaderPolicyConfig.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PackageJsonHandler.md
  packages/repopo/packlist.txt
  packages/repopo/src/baseCommand.ts
  packages/repopo/src/config.ts
  packages/repopo/src/index.ts
  packages/repopo/src/makePolicy.ts
  packages/repopo/src/policies/HtmlFileHeaders.ts
  packages/repopo/src/policies/JsTsFileHeaders.ts
  packages/repopo/src/policies/NoJsFileExtensions.ts
  packages/repopo/src/policies/PackageJsonProperties.ts
  packages/repopo/src/policies/PackageJsonRepoDirectoryProperty.ts
  packages/repopo/src/policies/PackageJsonSorted.ts
  packages/repopo/src/policies/PackageScripts.ts
  packages/repopo/src/policyDefiners/defineFileHeaderPolicy.ts
  packages/repopo/src/policyDefiners/definePackagePolicy.ts
Due: none

build
  packages/repopo/api-docs/repopo.api.md
Due: none

deps
  config/package.json
  package.json
  packages/cli-api/package.json
  packages/cli/package.json
  packages/dill-docs/package.json
  packages/dill/package.json
  packages/fundamentals/package.json
  packages/levee-client/package.json
  packages/lilconfig-loader-ts/package.json
  packages/repopo-docs/package.json
  packages/repopo/package.json
  packages/sort-tsconfig/package.json
  packages/xkcd2-api/package.json
  pnpm-lock.yaml
Due: dill, fundamentals

lint
  packages/repopo/src/commands/check.ts
Due: none

lockfile
  pnpm-lock.yaml
Due: none

renovate
  package.json
  pnpm-lock.yaml
Due: none

format
  package.json
Due: none

policy
  package.json
Due: none

build: Update dev deps (#228)
  config/package.json
  package.json
  packages/cli-api/package.json
  packages/cli/package.json
  packages/dill-docs/package.json
  packages/dill/package.json
  packages/fundamentals/package.json
  packages/levee-client/package.json
  packages/lilconfig-loader-ts/package.json
  packages/repopo-docs/package.json
  packages/repopo/package.json
  packages/sort-tsconfig/package.json
  packages/xkcd2-api/package.json
  pnpm-lock.yaml
Due: dill, fundamentals

overrides
  package.json
  pnpm-lock.yaml
Due: none

deps
  packages/cli-api/package.json
  packages/cli/package.json
  packages/dill-docs/package.json
  packages/dill/package.json
  packages/levee-client/package.json
  packages/repopo-docs/package.json
  packages/repopo/package.json
  packages/sort-tsconfig/package.json
  pnpm-lock.yaml
Due: dill

disable link validator
  packages/repopo-docs/astro.config.mjs
Due: none

build: Update prod deps (#229)
  package.json
  packages/cli-api/package.json
  packages/cli/package.json
  packages/dill-docs/package.json
  packages/dill/package.json
  packages/levee-client/package.json
  packages/repopo-docs/astro.config.mjs
  packages/repopo-docs/package.json
  packages/repopo/package.json
  packages/sort-tsconfig/package.json
  pnpm-lock.yaml
Due: dill

deps
  packages/fluid-svelte/package.json
  pnpm-lock.yaml
Due: none

refactor(dill): Use nanotar
  packages/dill/package.json
  packages/dill/src/api.ts
  packages/dill/src/types.ts
  packages/dill/test/__snapshots__/api.test.ts.snap
  pnpm-lock.yaml
Due: dill

update
  packages/dill-docs/src/content/docs/api/functions/download.md
  packages/dill-docs/src/content/docs/api/interfaces/DillOptions.md
  packages/dill-docs/src/content/docs/api/interfaces/DownloadResponse.md
  packages/dill/packlist.txt
Due: dill

rm file
  packages/dill/src/types.ts
Due: dill

packlist
  packages/dill/packlist.txt
Due: dill

change
  .changeset/modern-years-send.md
Due: none

refactor(dill): Use nanotar (#230)
  .changeset/modern-years-send.md
  packages/dill-docs/src/content/docs/api/functions/download.md
  packages/dill-docs/src/content/docs/api/interfaces/DillOptions.md
  packages/dill-docs/src/content/docs/api/interfaces/DownloadResponse.md
  packages/dill/package.json
  packages/dill/src/api.ts
  packages/dill/test/__snapshots__/api.test.ts.snap
  pnpm-lock.yaml
Due: dill

feat(dill): Add support for zip files
  packages/dill/src/api.ts
  packages/dill/test/__snapshots__/api.test.ts.snap
  packages/dill/test/api.test.ts
  packages/dill/test/common.ts
  packages/dill/test/data/README.md
Due: dill

docs
  packages/dill-docs/src/content/docs/api/functions/download.md
  packages/dill-docs/src/content/docs/api/interfaces/DillOptions.md
  packages/dill-docs/src/content/docs/api/interfaces/DownloadResponse.md
Due: none

fixes
  packages/dill/.gitignore
  packages/dill/src/api.ts
  packages/dill/test/__snapshots__/api.test.ts.snap
  packages/dill/test/api.test.ts
  packages/dill/test/common.ts
  packages/dill/test/data/test4.zip
  packages/dill/test/data/test5.json.gz
Due: dill

test cases
  packages/dill/src/api.ts
  packages/dill/test/__snapshots__/api.test.ts.snap
  packages/dill/test/api.test.ts
Due: dill

coverage
  packages/dill/test/api.test.ts
Due: dill

docs(dill): Update docs
  packages/dill-docs/src/content/docs/introduction.mdx
  packages/dill/README.md
  packages/dill/src/api.ts
Due: dill

format
  packages/dill/test/api.test.ts
Due: dill

changeset
  .changeset/chilly-colts-beam.md
Due: none

feat(dill): Add support for zip files (#231)
  .changeset/chilly-colts-beam.md
  packages/dill-docs/src/content/docs/api/functions/download.md
  packages/dill-docs/src/content/docs/api/interfaces/DillOptions.md
  packages/dill-docs/src/content/docs/api/interfaces/DownloadResponse.md
  packages/dill/src/api.ts
  packages/dill/test/__snapshots__/api.test.ts.snap
  packages/dill/test/api.test.ts
  packages/dill/test/common.ts
  packages/dill/test/data/README.md
  packages/dill/test/data/test4.zip
  packages/dill/test/data/test5.json.gz
Due: dill
