Repository tylerbutler/tools-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: dill, fundamentals, sort-tsconfig, cli, cli-api, xkcd2-api, ccl-test-viewer, sail, sail-infrastructure

fix(sail): only include done file in cache outputs if it exists
  packages/sail/src/core/tasks/leaf/leafTask.ts
Due: sail

fix(sail): await pending cache operations before process exit
  packages/sail/src/commands/build.ts
  packages/sail/src/core/sharedCache/sharedCacheManager.ts
Due: sail

refactor(sail): eliminate cache boilerplate with automatic config file inclusion
  packages/sail/src/core/tasks/leaf/apiExtractorTask.ts
  packages/sail/src/core/tasks/leaf/biomeTasks.ts
  packages/sail/src/core/tasks/leaf/declarativeTask.ts
  packages/sail/src/core/tasks/leaf/flubTasks.ts
  packages/sail/src/core/tasks/leaf/generateEntrypointsTask.ts
  packages/sail/src/core/tasks/leaf/leafTask.ts
  packages/sail/src/core/tasks/leaf/lintTasks.ts
  packages/sail/src/core/tasks/leaf/miscTasks.ts
  packages/sail/src/core/tasks/leaf/prettierTask.ts
  packages/sail/src/core/tasks/leaf/webpackTask.ts
Due: sail

format
  packages/sail/src/core/tasks/leaf/apiExtractorTask.ts
  packages/sail/src/core/tasks/leaf/generateEntrypointsTask.ts
  packages/sail/src/core/tasks/leaf/webpackTask.ts
Due: sail

updates
  packages/sail-infrastructure/package.json
  packages/sail/package.json
  packages/sail/src/commands/build.ts
  packages/sail/src/common/cacheUtils.ts
  packages/sail/src/core/sharedCache/fileOperations.ts
  packages/sail/src/core/sharedCache/init.ts
  packages/sail/src/core/sharedCache/sharedCacheManager.ts
  packages/sail/src/core/sharedCache/types.ts
  pnpm-lock.yaml
  syncpack.config.cjs
Due: sail, sail-infrastructure

fixes
  packages/sail/api-docs/sail.api.md
  packages/sail/src/commands/build.ts
  packages/sail/src/core/sharedCache/sharedCacheManager.ts
  packages/sail/src/core/tasks/leaf/tscTask.ts
  syncpack.config.cjs
Due: sail

fix
  packages/sail/src/commands/build.ts
Due: sail

fixes
  packages/sail/src/commands/build.ts
  packages/sail/src/core/tasks/leaf/tscTask.ts
Due: sail

fix(cache): implement dependency-based cache invalidation for post-clean restoration
  packages/sail/api-docs/sail.api.md
  packages/sail/src/core/sharedCache/types.ts
  packages/sail/src/core/tasks/leaf/leafTask.ts
  packages/sail/test/unit/core/sharedCache/cacheRestoration.test.ts
Due: sail

refactor(sail): move trace methods to Task base class
  packages/sail/src/core/tasks/leaf/leafTask.ts
  packages/sail/src/core/tasks/task.ts
Due: sail

perf(sail): cache done file content to eliminate redundant computation
  packages/sail/src/core/tasks/leaf/leafTask.ts
Due: sail

test(sail): fix cache restoration tests by using CopyfilesTask
  packages/sail/test/helpers/builders/LeafTaskBuilder.ts
  packages/sail/test/unit/core/sharedCache/cacheRestoration.test.ts
Due: none

build
  packages/sail/api-docs/sail.api.md
Due: sail

fix(sail): correct task counter logic for cache restoration and up-to-date checks
  packages/sail/src/core/tasks/leaf/leafTask.ts
Due: sail

feat(sail): implement dependency-aware cache invalidation using tsBuildInfo
  packages/sail/src/core/tasks/leaf/leafTask.ts
  packages/sail/src/core/tasks/leaf/tscTask.ts
  packages/sail/src/core/tasks/task.ts
  packages/sail/test/integration/fixtures/diamond-dependency/packages/base/tsconfig.json
  packages/sail/test/integration/fixtures/diamond-dependency/packages/left/tsconfig.json
  packages/sail/test/integration/fixtures/diamond-dependency/packages/right/tsconfig.json
  packages/sail/test/integration/fixtures/diamond-dependency/packages/top/tsconfig.json
Due: sail

fix(sail): include dependencyHashes in cache key computation
  packages/sail/src/core/sharedCache/cacheKey.ts
Due: sail

test(sail): add unit tests for cache key computation with dependency hashes
  packages/sail/test/unit/core/sharedCache/cacheKey.test.ts
Due: none

build(sail): update API documentation
  packages/sail/api-docs/sail.api.md
Due: sail

fix(sail): correct task counter display with stable denominators
  packages/sail/api-docs/sail.api.md
  packages/sail/src/core/buildGraph.ts
  packages/sail/src/core/execution/BuildExecutor.ts
  packages/sail/src/core/interfaces/IBuildExecutor.ts
  packages/sail/src/core/tasks/leaf/leafTask.ts
Due: sail

format
  packages/sail/test/integration/fixtures/diamond-dependency/packages/base/tsconfig.json
  packages/sail/test/integration/fixtures/diamond-dependency/packages/left/tsconfig.json
  packages/sail/test/integration/fixtures/diamond-dependency/packages/right/tsconfig.json
  packages/sail/test/integration/fixtures/diamond-dependency/packages/top/tsconfig.json
Due: none

Investigate cache restoration bug with dependent tasks
  packages/sail/test/integration/CACHE_RESTORATION_BUG_INVESTIGATION.md
  packages/sail/test/integration/scenarios/cache-restoration-dependencies.integration.test.ts
  packages/sail/test/integration/support/cacheValidationHelpers.ts
Due: none

fix: use content hashes instead of file stats in LeafWithFileStatDoneFileTask
  packages/sail/CACHE_BUG_FIX.md
  packages/sail/CACHE_BUG_HANDOFF.md
  packages/sail/CACHE_BUG_REPRODUCTION.md
  packages/sail/src/core/tasks/leaf/biomeTasks.ts
  packages/sail/src/core/tasks/leaf/declarativeTask.ts
  packages/sail/src/core/tasks/leaf/leafTask.ts
  packages/sail/test/integration/CACHE_RESTORATION_BUG_INVESTIGATION.md
  packages/sail/test/integration/fixtures/cache-validity/typescript-project-references/README.md
  packages/sail/test/integration/fixtures/cache-validity/typescript-project-references/package.json
  packages/sail/test/integration/fixtures/cache-validity/typescript-project-references/packages/lib-a/dist/gen/index.js
  packages/sail/test/integration/fixtures/cache-validity/typescript-project-references/packages/lib-a/dist/index.d.ts
  packages/sail/test/integration/fixtures/cache-validity/typescript-project-references/packages/lib-a/dist/index.d.ts.map
  packages/sail/test/integration/fixtures/cache-validity/typescript-project-references/packages/lib-a/dist/index.js
  packages/sail/test/integration/fixtures/cache-validity/typescript-project-references/packages/lib-a/dist/test-cjs/index.test.d.ts
  packages/sail/test/integration/fixtures/cache-validity/typescript-project-references/packages/lib-a/dist/test-cjs/index.test.d.ts.map
  packages/sail/test/integration/fixtures/cache-validity/typescript-project-references/packages/lib-a/dist/test-cjs/index.test.js
  packages/sail/test/integration/fixtures/cache-validity/typescript-project-references/packages/lib-a/dist/test-no-exact/index.test.d.ts
  packages/sail/test/integration/fixtures/cache-validity/typescript-project-references/packages/lib-a/dist/test-no-exact/index.test.d.ts.map
  packages/sail/test/integration/fixtures/cache-validity/typescript-project-references/packages/lib-a/dist/test-no-exact/index.test.js
  packages/sail/test/integration/fixtures/cache-validity/typescript-project-references/packages/lib-a/dist/test/index.test.d.ts
  packages/sail/test/integration/fixtures/cache-validity/typescript-project-references/packages/lib-a/dist/test/index.test.d.ts.map
  packages/sail/test/integration/fixtures/cache-validity/typescript-project-references/packages/lib-a/dist/test/index.test.js
  packages/sail/test/integration/fixtures/cache-validity/typescript-project-references/packages/lib-a/package.json
  packages/sail/test/integration/fixtures/cache-validity/typescript-project-references/packages/lib-a/src/index.ts
  packages/sail/test/integration/fixtures/cache-validity/typescript-project-references/packages/lib-a/src/test/index.test.ts
  packages/sail/test/integration/fixtures/cache-validity/typescript-project-references/packages/lib-a/src/test/tsconfig.cjs.json
  packages/sail/test/integration/fixtures/cache-validity/typescript-project-references/packages/lib-a/src/test/tsconfig.json
  packages/sail/test/integration/fixtures/cache-validity/typescript-project-references/packages/lib-a/src/test/tsconfig.no-exactOptionalPropertyTypes.json
  packages/sail/test/integration/fixtures/cache-validity/typescript-project-references/packages/lib-a/tsconfig.json
  packages/sail/test/integration/fixtures/cache-validity/typescript-project-references/pnpm-lock.yaml
  packages/sail/test/integration/fixtures/cache-validity/typescript-project-references/pnpm-workspace.yaml
  packages/sail/test/integration/fixtures/cache-validity/typescript-project-references/sail.config.cjs
  packages/sail/test/integration/scenarios/typescript-project-references-cache.integration.test.ts
Due: sail

fix(lint): resolve all Biome linting issues
  packages/sail/test/integration/fixtures/cache-validity/multi-level-multi-task/packages/app-desktop/test/index.test.ts
  packages/sail/test/integration/fixtures/cache-validity/multi-level-multi-task/packages/app-web/test/index.test.ts
  packages/sail/test/integration/fixtures/cache-validity/multi-level-multi-task/packages/cli/test/index.test.ts
  packages/sail/test/integration/fixtures/cache-validity/multi-level-multi-task/packages/client/test/index.test.ts
  packages/sail/test/integration/fixtures/cache-validity/multi-level-multi-task/packages/config/test/index.test.ts
  packages/sail/test/integration/fixtures/cache-validity/multi-level-multi-task/packages/core/test/index.test.ts
  packages/sail/test/integration/fixtures/cache-validity/multi-level-multi-task/packages/formatter/test/index.test.ts
  packages/sail/test/integration/fixtures/cache-validity/multi-level-multi-task/packages/parser/test/index.test.ts
  packages/sail/test/integration/fixtures/cache-validity/multi-level-multi-task/packages/server/test/index.test.ts
  packages/sail/test/integration/fixtures/cache-validity/multi-level-multi-task/packages/types/test/index.test.ts
  packages/sail/test/integration/fixtures/cache-validity/multi-level-multi-task/packages/utils/test/index.test.ts
  packages/sail/test/integration/fixtures/cache-validity/multi-level-multi-task/packages/validation/test/index.test.ts
  packages/sail/test/integration/fixtures/cache-validity/typescript-project-references/packages/lib-a/src/test/index.test.ts
  packages/sail/test/integration/scenarios/cache-restoration-dependencies.integration.test.ts
  packages/sail/test/integration/scenarios/cache-validity.integration.test.ts
  packages/sail/test/integration/scenarios/typescript-project-references-cache.integration.test.ts
  packages/sail/test/integration/support/cacheValidationHelpers.ts
Due: none

test(cache): add comprehensive file metadata restoration tests
  config/vitest.config.ts
  packages/sail/src/core/sharedCache/fileOperations.ts
  packages/sail/src/core/sharedCache/sharedCacheManager.ts
  packages/sail/src/core/sharedCache/types.ts
  packages/sail/test/integration/scenarios/typescript-project-references-cache.integration.test.ts
  packages/sail/test/unit/core/sharedCache/fileMetadataRestoration.test.ts
Due: sail

fixtures
  packages/sail/test/integration/fixtures/cache-validity/multi-level-multi-task/sail.config.cjs
  packages/sail/test/integration/fixtures/cache-validity/typescript-project-references/packages/lib-a/package.json
  packages/sail/test/integration/fixtures/cache-validity/typescript-project-references/packages/lib-a/src/gen/index.js
  packages/sail/test/integration/fixtures/cache-validity/typescript-project-references/pnpm-lock.yaml
  packages/sail/test/integration/fixtures/cache-validity/typescript-project-references/sail.config.cjs
Due: none

rm dev docs
  packages/sail/CACHE_BUG_FIX.md
  packages/sail/CACHE_BUG_HANDOFF.md
  packages/sail/CACHE_BUG_REPRODUCTION.md
  packages/sail/CACHE_INTEGRATION_GUIDE.md
Due: sail

build
  CLAUDE.md
  packages/sail/api-docs/sail.api.md
  packages/sail/src/core/sharedCache/manifest.ts
  packages/sail/test/unit/core/sharedCache/fileMetadataRestoration.test.ts
Due: sail

improve ux
  packages/sail/package.json
  packages/sail/src/core/execution/BuildExecutor.ts
  packages/sail/src/core/runBuild.ts
  pnpm-lock.yaml
Due: sail

task stats and progress bar
  packages/sail/api-docs/sail.api.md
  packages/sail/package.json
  packages/sail/src/core/buildGraph.ts
  packages/sail/src/core/execution/BuildExecutor.ts
  packages/sail/src/core/runBuild.ts
  packages/sail/src/core/tasks/leaf/leafTask.ts
  pnpm-lock.yaml
Due: sail

feat(sail): add pinned progress bar for build execution
  .changeset/add-pinned-progress-bar.md
  packages/sail/api-docs/sail.api.md
  packages/sail/package.json
  packages/sail/src/commands/build.ts
  packages/sail/src/core/buildGraph.ts
  packages/sail/src/core/execution/BuildExecutor.ts
  packages/sail/src/core/execution/ProgressBarManager.ts
  packages/sail/src/core/interfaces/IBuildExecutor.ts
  packages/sail/src/core/options.ts
  pnpm-lock.yaml
Due: sail

chore(sail): lint and format fixes for progress bar
  packages/sail/src/core/execution/BuildExecutor.ts
  packages/sail/src/core/execution/ProgressBarManager.ts
Due: sail

test(sail): add comprehensive unit tests for ProgressBarManager
  packages/sail/test/unit/core/execution/ProgressBarManager.test.ts
Due: none

feat(sail): add pinned progress bar for build execution (#370)
  .changeset/add-pinned-progress-bar.md
  packages/sail/api-docs/sail.api.md
  packages/sail/package.json
  packages/sail/src/commands/build.ts
  packages/sail/src/core/buildGraph.ts
  packages/sail/src/core/execution/BuildExecutor.ts
  packages/sail/src/core/execution/ProgressBarManager.ts
  packages/sail/src/core/interfaces/IBuildExecutor.ts
  packages/sail/src/core/options.ts
  packages/sail/test/unit/core/execution/ProgressBarManager.test.ts
  pnpm-lock.yaml
Due: sail

chore(sail): remove obsolete progress library dependencies
  packages/sail/package.json
  pnpm-lock.yaml
Due: sail

ci(release): enable Nx Cloud caching and DTE
  .github/workflows/release.yml
Due: none

fix(ci): disable Nx Cloud for release workflow
  .github/workflows/release.yml
Due: none

fix(ci): disable Nx Cloud for release workflow (#372)
  .github/workflows/release.yml
Due: none

ci: update Claude actions
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/pr-build.yml
Due: none

Path conditions:
  dill: any of: packages/dill/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  fundamentals: any of: packages/fundamentals/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  sort-tsconfig: any of: packages/sort-tsconfig/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  cli: any of: packages/cli/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  cli-api: any of: packages/cli-api/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  xkcd2-api: any of: packages/xkcd2-api/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  ccl-test-viewer: any of: packages/ccl-test-viewer/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  sail: any of: packages/sail/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  sail-infrastructure: any of: packages/sail-infrastructure/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
