Repository tylerbutler/tools-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: dill, fundamentals

updates
  packages/repopo-docs/src/content/docs/api/README.md
  packages/repopo-docs/src/content/docs/api/functions/defineFileHeaderPolicy.md
  packages/repopo-docs/src/content/docs/api/functions/definePackagePolicy.md
  packages/repopo-docs/src/content/docs/api/functions/makePolicy.md
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyDefinitionAsync.md
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyFailure.md
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyFixResult.md
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyFunctionArguments.md
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyInstanceSettings.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PolicyHandler.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PolicyHandlerAsync.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PolicyHandlerResult.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PolicyInstance.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PolicyName.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PolicyStandaloneResolver.md
  packages/repopo/api-docs/repopo.api.md
  packages/repopo/src/commands/check.ts
  packages/repopo/src/generators.ts
  packages/repopo/src/index.ts
  packages/repopo/src/makePolicy.ts
  packages/repopo/src/policy.ts
  packages/repopo/src/policyDefiners/definePackagePolicy.ts
  packages/sort-tsconfig/api-docs/sort-tsconfig.api.md
  packages/sort-tsconfig/src/policy.ts
  packages/sort-tsconfig/tsconfig.json
Due: none

cleanup
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyDefinitionAsync.md
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyFailure.md
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyFixResult.md
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyInstanceSettings.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PolicyHandlerResult.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PolicyInstance.md
  packages/repopo/api-docs/repopo.api.md
  packages/repopo/src/commands/check.ts
  packages/repopo/src/policy.ts
Due: none

upgrade astro
  packages/dill-docs/package.json
  packages/repopo-docs/package.json
  pnpm-lock.yaml
Due: none

docs
  packages/repopo-docs/src/content/docs/api/README.md
  packages/repopo-docs/src/content/docs/api/functions/defineFileHeaderPolicy.md
  packages/repopo-docs/src/content/docs/api/interfaces/FileHeaderGeneratorConfig.md
  packages/repopo/api-docs/repopo.api.md
  packages/repopo/src/index.ts
  packages/repopo/src/policyDefiners/defineFileHeaderPolicy.ts
Due: none

docs
  packages/cli-api/api-docs/cli-api.api.md
  packages/cli-api/src/flags.ts
  packages/cli-api/src/git.ts
  packages/cli-api/src/index.ts
  packages/dill-docs/src/content/docs/api/README.md
  packages/dill/src/index.ts
  packages/dill/test/commands/download.test.ts
  packages/fundamentals/api-docs/fundamentals.api.md
  packages/fundamentals/api-docs/fundamentals.array.api.md
  packages/fundamentals/docs/array.md
  packages/fundamentals/docs/index.md
  packages/fundamentals/src/array.ts
  packages/fundamentals/src/index.ts
  packages/levee-client/api-docs/levee-client.api.md
  packages/levee-client/src/client.ts
  packages/levee-client/src/index.ts
  packages/levee-client/src/interfaces.ts
  packages/lilconfig-loader-ts/api-docs/lilconfig-loader-ts.api.md
  packages/lilconfig-loader-ts/src/index.ts
  packages/sort-tsconfig/api-docs/sort-tsconfig.api.md
  packages/sort-tsconfig/src/api.ts
  packages/sort-tsconfig/src/index.ts
  packages/xkcd2-api/api-docs/xkcd2-api.api.md
  packages/xkcd2-api/docs/README.md
  packages/xkcd2-api/src/comic.ts
  packages/xkcd2-api/src/index.ts
Due: dill, fundamentals

format
  packages/dill/test/commands/download.test.ts
Due: dill

changeset
  .changeset/tricky-moose-report.md
Due: none

formatting
  packages/repopo/src/index.ts
  packages/repopo/src/policyDefiners/defineFileHeaderPolicy.ts
Due: none

wip
  packages/repopo/src/commands/check.ts
  packages/repopo/src/index.ts
  packages/repopo/src/makePolicy.ts
  packages/repopo/src/policy.ts
  packages/sort-tsconfig/src/policy.ts
Due: none

docs: Improve documentation for several packages (#238)
  .changeset/tricky-moose-report.md
  packages/cli-api/api-docs/cli-api.api.md
  packages/cli-api/src/flags.ts
  packages/cli-api/src/git.ts
  packages/cli-api/src/index.ts
  packages/dill-docs/src/content/docs/api/README.md
  packages/dill/src/index.ts
  packages/dill/test/commands/download.test.ts
  packages/fundamentals/api-docs/fundamentals.api.md
  packages/fundamentals/api-docs/fundamentals.array.api.md
  packages/fundamentals/docs/array.md
  packages/fundamentals/docs/index.md
  packages/fundamentals/src/array.ts
  packages/fundamentals/src/index.ts
  packages/levee-client/api-docs/levee-client.api.md
  packages/levee-client/src/client.ts
  packages/levee-client/src/index.ts
  packages/levee-client/src/interfaces.ts
  packages/lilconfig-loader-ts/api-docs/lilconfig-loader-ts.api.md
  packages/lilconfig-loader-ts/src/index.ts
  packages/sort-tsconfig/api-docs/sort-tsconfig.api.md
  packages/sort-tsconfig/src/api.ts
  packages/sort-tsconfig/src/index.ts
  packages/xkcd2-api/api-docs/xkcd2-api.api.md
  packages/xkcd2-api/docs/README.md
  packages/xkcd2-api/src/comic.ts
  packages/xkcd2-api/src/index.ts
Due: dill, fundamentals

bump biome
  package.json
  packages/cli-api/package.json
  packages/cli/package.json
  packages/dill/package.json
  packages/fundamentals/package.json
  packages/levee-client/package.json
  packages/lilconfig-loader-ts/package.json
  packages/repopo/package.json
  packages/sort-tsconfig/package.json
  packages/xkcd2-api/package.json
  pnpm-lock.yaml
Due: dill, fundamentals

initial biome migrate and fixup
  biome.jsonc
  packages/cli-api/biome.jsonc
  packages/cli/biome.jsonc
  packages/dill-docs/biome.jsonc
  packages/dill/biome.jsonc
  packages/fundamentals/biome.jsonc
  packages/levee-client/biome.jsonc
  packages/lilconfig-loader-ts/biome.jsonc
  packages/repopo-docs/biome.jsonc
  packages/repopo/biome.jsonc
  packages/sort-tsconfig/biome.jsonc
  packages/xkcd2-api/biome.jsonc
Due: dill, fundamentals

root config
  biome.jsonc
Due: none

more ts files
  packages/cli-api/src/index.ts
  packages/cli-api/src/json.ts
  packages/cli-api/src/loadConfig.ts
  packages/cli/src/commands/git/merge-train/preview.ts
  packages/dill/src/index.ts
  packages/dill/test/api.test.ts
  packages/dill/test/commands/download.test.ts
  packages/dill/test/mocks/handlers.ts
  packages/levee-client/src/client.ts
  packages/levee-client/src/index.ts
  packages/repopo/src/commands/check.ts
  packages/repopo/src/index.ts
  packages/repopo/src/policies.ts
  packages/repopo/src/policies/HtmlFileHeaders.ts
  packages/repopo/src/policies/JsTsFileHeaders.ts
  packages/repopo/src/policies/PackageScripts.ts
Due: dill

config cleanup
  biome.jsonc
  packages/dill-docs/biome.jsonc
  packages/lilconfig-loader-ts/biome.jsonc
Due: none

build
  packages/fundamentals/docs/git.md
Due: fundamentals

biome upgrade
  biome.jsonc
Due: none

desc
  biome.jsonc
Due: none

more rules
  biome.jsonc
  config/biome/linter.jsonc
  config/biome/test-files.jsonc
  config/package.json
  packages/cli-api/src/baseCommand.ts
  packages/cli-api/src/commands/configTest.ts
  packages/cli-api/src/configCommand.ts
  packages/cli-api/src/git.ts
  packages/cli-api/src/gitCommand.ts
  packages/cli/src/commands/download.ts
  packages/cli/src/commands/git/merge-train/preview.ts
  packages/cli/src/commands/git/squish.ts
  packages/dill/src/commands/download.ts
  packages/dill/test/commands/download.test.ts
  packages/fundamentals/docs/array.md
  packages/fundamentals/docs/git.md
  packages/fundamentals/src/array.ts
  packages/fundamentals/src/writeOnceMap.ts
  packages/levee-client/src/client.ts
  packages/repopo/src/baseCommand.ts
  packages/repopo/src/commands/check.ts
  packages/repopo/src/commands/list.ts
  packages/repopo/src/policies/PackageJsonRepoDirectoryProperty.ts
  packages/sort-tsconfig/src/api.ts
  packages/sort-tsconfig/src/commands/sort-tsconfig.ts
  packages/sort-tsconfig/src/orders.ts
  packages/xkcd2-api/src/comic.ts
Due: dill, fundamentals

more rules
  config/biome/linter.jsonc
  packages/cli-api/test/loadConfig.test.ts
  packages/dill/src/api.ts
  packages/dill/test/commands/download.test.ts
  packages/dill/test/mocks/handlers.ts
  packages/repopo/src/policies/PackageJsonRepoDirectoryProperty.ts
  packages/repopo/src/policies/PackageJsonSorted.ts
Due: dill

cleanup
  packages/cli-api/src/index.ts
  packages/dill/test/commands/download.test.ts
  packages/levee-client/api-docs/levee-client.api.md
  packages/levee-client/src/index.ts
  packages/sort-tsconfig/src/index.ts
Due: dill

settings and suppressions
  biome.jsonc
  config/biome/base.jsonc
  config/biome/test-files.jsonc
  config/package.json
  config/vitest.config.ts
  packages/cli-api/test/data/configs/test-module-esm.config.mjs
  packages/cli-api/test/data/configs/test-module-ts.config.ts
  packages/sort-tsconfig/biome.jsonc
  packages/sort-tsconfig/test/sort-tsconfig.config.ts
Due: none

more rules
  config/biome/linter.jsonc
  config/vitest.config.ts
  packages/cli-api/src/baseCommand.ts
  packages/cli-api/src/configCommand.ts
  packages/cli-api/src/git.ts
  packages/cli-api/src/gitCommand.ts
  packages/cli/src/commands/git/merge-train/preview.ts
  packages/cli/src/commands/git/squish.ts
  packages/dill/src/api.ts
  packages/dill/src/commands/download.ts
  packages/dill/test/api.test.ts
  packages/dill/test/commands/download.test.ts
  packages/fundamentals/src/git.ts
  packages/repopo/src/commands/check.ts
Due: dill, fundamentals

shared exported config
  biome.jsonc
  config/biome/base.jsonc
  config/biome/formatter.jsonc
  config/biome/linter.jsonc
  config/biome/oclif.jsonc
  config/biome/test-files.jsonc
  config/package.json
  package.json
  pnpm-lock.yaml
Due: none

enable more rules
  config/biome/linter.jsonc
  config/package.json
  packages/sort-tsconfig/src/commands/sort-tsconfig.ts
Due: none

Update config/package.json
  config/package.json
Due: none

Delete config/biome/base.jsonc
  config/biome/base.jsonc
Due: none

remove nested configs
  biome.jsonc
  packages/cli-api/biome.jsonc
  packages/cli/biome.jsonc
  packages/dill/biome.jsonc
  packages/repopo/biome.jsonc
  packages/sort-tsconfig/biome.jsonc
Due: dill

build docs
  packages/dill-docs/src/content/docs/api/functions/download.md
  packages/xkcd2-api/docs/README.md
Due: none

build
  config/package.json
  package.json
  packages/dill-docs/src/content/docs/api/functions/download.md
  packages/dill-docs/src/content/docs/api/interfaces/DillOptions.md
  packages/dill-docs/src/content/docs/api/interfaces/DownloadResponse.md
  packages/fundamentals/docs/array.md
  packages/fundamentals/docs/git.md
  packages/fundamentals/docs/index.md
  packages/fundamentals/docs/set.md
  packages/repopo-docs/src/content/docs/api/functions/generateFileHeaderPolicy.md
  packages/repopo-docs/src/content/docs/api/functions/generatePackagePolicy.md
  packages/repopo-docs/src/content/docs/api/functions/makePolicy.md
  packages/repopo-docs/src/content/docs/api/interfaces/FileHeaderGeneratorConfig.md
  packages/repopo-docs/src/content/docs/api/interfaces/FileHeaderPolicyConfig.md
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyDefinition.md
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyFailure.md
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyFixResult.md
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyFunctionArguments.md
  packages/repopo-docs/src/content/docs/api/interfaces/PolicyInstanceSettings.md
  packages/repopo-docs/src/content/docs/api/interfaces/RepopoConfig.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PackageJsonHandler.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PolicyHandler.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PolicyHandlerResult.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PolicyInstance.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PolicyName.md
  packages/repopo-docs/src/content/docs/api/type-aliases/PolicyStandaloneResolver.md
  packages/xkcd2-api/docs/README.md
Due: fundamentals

cleanup
  packages/dill-docs/src/content/docs/api/functions/download.md
  packages/xkcd2-api/docs/README.md
Due: none

Path conditions:
  dill: any of: packages/dill/**
  fundamentals: any of: packages/fundamentals/**
