Repository tylerbutler/tools-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: dill, fundamentals, sort-tsconfig, cli, cli-api, xkcd2-api, ccl-test-viewer, sail, sail-infrastructure

format
  packages/cli/src/commands/deps/sync.ts
  packages/cli/test/commands/deps/sync.cancellation.test.ts
  packages/dill-cli/src/api.ts
  packages/dill-cli/test/api.cancellation.test.ts
Due: cli

build
  packages/dill-cli/src/api.ts
  packages/dill-docs/src/content/docs/api/functions/download.md
Due: none

Delete PR_DESCRIPTION.md
  PR_DESCRIPTION.md
Due: none

feat(sail): add SAIL_IGNORE_FILES env var and flag
  packages/sail-infrastructure/src/buildProject.ts
  packages/sail/src/baseCommand.ts
Due: sail, sail-infrastructure

fix(sail): use stable task count snapshot for progress bar calculation
  packages/sail/src/core/execution/BuildExecutor.ts
  packages/sail/test/unit/core/execution/BuildExecutor.test.ts
Due: sail

build
  packages/sail-infrastructure/docs/functions/getAllDependencies.md
  packages/sail-infrastructure/docs/functions/loadBuildProject.md
  packages/sail/test/commands/__snapshots__/commands.json
Due: none

feat(sail): add file ignore filtering to config inference (#402)
  packages/sail-infrastructure/docs/functions/getAllDependencies.md
  packages/sail-infrastructure/docs/functions/loadBuildProject.md
  packages/sail-infrastructure/src/buildProject.ts
  packages/sail/src/baseCommand.ts
  packages/sail/test/commands/__snapshots__/commands.json
Due: sail, sail-infrastructure

lint
  packages/sail/test/unit/core/execution/BuildExecutor.test.ts
Due: none

fix(sail): progress bar displays correct totals (#403)
  packages/sail/src/core/execution/BuildExecutor.ts
  packages/sail/test/unit/core/execution/BuildExecutor.test.ts
Due: sail

feat(dill-cli): implement structured concurrency (#397)
  .changeset/effection-cli-deps-sync.md
  .changeset/effection-dill-cli.md
  packages/cli/package.json
  packages/cli/src/commands/deps/sync.ts
  packages/cli/test/commands/deps/sync.cancellation.test.ts
  packages/dill-cli/package.json
  packages/dill-cli/src/api.ts
  packages/dill-cli/test/api.cancellation.test.ts
  packages/dill-docs/src/content/docs/api/functions/download.md
  pnpm-lock.yaml
Due: cli

lint
  packages/cli/src/commands/deps/sync.ts
  packages/cli/test/commands/deps/sync.cancellation.test.ts
  packages/sail-infrastructure/docs/classes/NotInGitRepository.md
  packages/sail-infrastructure/src/git.ts
Due: cli, sail-infrastructure

sync deps
  package.json
  packages/ccl-docs/package.json
  packages/ccl-test-viewer/package.json
  packages/dill-docs/package.json
  packages/rehype-footnotes/package.json
  packages/remark-lazy-links/package.json
  packages/remark-shift-headings/package.json
  packages/repopo-docs/package.json
Due: ccl-test-viewer

lockfile
  pnpm-lock.yaml
Due: none

refactor(sail-infrastructure): replace execa with tinyexec
  packages/sail-infrastructure/package.json
  packages/sail-infrastructure/src/git.ts
  packages/sail-infrastructure/src/workspace.ts
  pnpm-lock.yaml
Due: sail-infrastructure

refactor: replace tempy with Node.js built-in capabilities
  packages/cli-api/package.json
  packages/cli-api/test/dependency-sync.test.ts
  packages/cli-api/test/package-manager.test.ts
  packages/cli/package.json
  packages/cli/test/commands/deps/sync.test.ts
  packages/cli/test/lib/fluid-repo-overlay/config-files-turbo.test.ts
  packages/cli/test/lib/fluid-repo-overlay/config-files.test.ts
  packages/dill-cli/package.json
  packages/dill-cli/test/commands/download.test.ts
  packages/fundamentals/package.json
  packages/fundamentals/test/fs.test.ts
  packages/fundamentals/test/git.test.ts
  packages/xkcd2-api/package.json
  pnpm-lock.yaml
Due: fundamentals, cli, cli-api, xkcd2-api

chore: remove npm-check-updates and related configuration
  .ncurc.cjs
  package.json
Due: none

feat(repopo): enforce release:license script in all packages
  repopo.config.ts
Due: none

build: add missing changeset
  .changeset/true-papers-change.md
Due: none

🚀 release: Update versions (#400)
  .changeset/effection-cli-deps-sync.md
  .changeset/effection-dill-cli.md
  .changeset/fix-type-safety-and-complexity.md
  .changeset/true-papers-change.md
  packages/cli-api/CHANGELOG.md
  packages/cli-api/THIRD-PARTY-LICENSES.txt
  packages/cli-api/package.json
  packages/cli/CHANGELOG.md
  packages/cli/THIRD-PARTY-LICENSES.txt
  packages/cli/package.json
  packages/dill-cli/CHANGELOG.md
  packages/dill-cli/THIRD-PARTY-LICENSES.txt
  packages/dill-cli/package.json
  packages/repopo/CHANGELOG.md
  packages/repopo/package.json
  packages/sail-infrastructure/CHANGELOG.md
  packages/sail-infrastructure/THIRD-PARTY-LICENSES.txt
  packages/sail-infrastructure/package.json
  packages/sail/CHANGELOG.md
  packages/sail/THIRD-PARTY-LICENSES.txt
  packages/sail/package.json
  packages/sort-tsconfig/CHANGELOG.md
  packages/sort-tsconfig/package.json
Due: sort-tsconfig, cli, cli-api, sail, sail-infrastructure

fix(sail): Fix copyfiles warnings due to path separator mismatch
  packages/sail/src/core/tasks/leaf/miscTasks.ts
Due: sail

build: add changeset for copyfiles path separator fix
  .changeset/fix-copyfiles-path-separators.md
Due: none

feat: add hyperfine benchmark script for Sail vs Nx comparison
  sail.config.cjs
  scripts/BENCHMARK.md
  scripts/benchmark-sail-vs-nx.sh
Due: none

Add Biome lint rule to prevent node:path imports
  biome.jsonc
  config/biome/linter.jsonc
  packages/repopo/test/policies/NoLargeBinaryFiles.utilities.test.ts
  packages/sail/test/integration/support/buildGraphIntegrationHelper.ts
Due: none

fix(sail): include execution-time skips in progress bar count
  packages/sail/src/core/execution/BuildExecutor.ts
Due: sail

adjust output
  packages/sail/src/commands/build.ts
Due: sail

build: add changeset for progress bar fix
  .changeset/fix-progress-bar-counting.md
Due: none

fix(sail): build warnings for missing copyfiles logs (#412)
  .changeset/fix-copyfiles-path-separators.md
  packages/sail/src/commands/build.ts
  packages/sail/src/core/tasks/leaf/miscTasks.ts
Due: sail

docs: add CLAUDE.md files for all packages
  packages/cli-api/CLAUDE.md
  packages/dill-cli/CLAUDE.md
  packages/dill-docs/CLAUDE.md
  packages/fundamentals/CLAUDE.md
  packages/levee-client/CLAUDE.md
  packages/lilconfig-loader-ts/CLAUDE.md
  packages/rehype-footnotes/CLAUDE.md
  packages/remark-lazy-links/CLAUDE.md
  packages/remark-shift-headings/CLAUDE.md
  packages/repopo-docs/CLAUDE.md
  packages/sort-tsconfig/CLAUDE.md
  packages/xkcd2-api/CLAUDE.md
Due: fundamentals, sort-tsconfig, cli-api, xkcd2-api

fix(ccl-test-viewer): Use BundleMon groups to avoid content-hash noise
  packages/ccl-test-viewer/.bundlemonrc.mjs
Due: ccl-test-viewer

ci: use BundleMon groups to avoid content-hash noise (#416)
  packages/ccl-test-viewer/.bundlemonrc.mjs
Due: ccl-test-viewer

ci: improve codecov configuration for monorepo
  .codecov.yml
  .github/actions/upload-codecov/action.yml
  .github/workflows/pr-build.yml
  config/vitest.config.ts
  packages/ccl-test-viewer/vitest.config.ts
Due: none

feedback
  .codecov.yml
  .github/actions/upload-codecov/action.yml
  .github/workflows/pr-build.yml
Due: none

update
  .github/workflows/pr-build.yml
Due: none

build: remove npm-check-updates dependency (#419)
  .ncurc.cjs
  package.json
Due: none

refactor(deps): consolidate common devDependencies to root
  package.json
  packages/ccl-test-viewer/package.json
  packages/cli-api/package.json
  packages/cli/package.json
  packages/dill-cli/package.json
  packages/fundamentals/package.json
  packages/lilconfig-loader-ts/package.json
  packages/repopo/package.json
  packages/sort-tsconfig/package.json
  packages/xkcd2-api/package.json
  pnpm-lock.yaml
Due: fundamentals, sort-tsconfig, cli, cli-api, xkcd2-api, ccl-test-viewer

ci: improve code coverage reporting accuracy (#411)
  .codecov.yml
  .github/actions/upload-codecov/action.yml
  .github/workflows/pr-build.yml
  config/vitest.config.ts
  packages/ccl-test-viewer/vitest.config.ts
Due: none

chore: configure syncpack to allow pinned sort-package-json in sail
  syncpack.config.cjs
Due: none

build: add CLAUDE.md for all packages (#418)
  packages/cli-api/CLAUDE.md
  packages/dill-cli/CLAUDE.md
  packages/dill-docs/CLAUDE.md
  packages/fundamentals/CLAUDE.md
  packages/levee-client/CLAUDE.md
  packages/lilconfig-loader-ts/CLAUDE.md
  packages/rehype-footnotes/CLAUDE.md
  packages/remark-lazy-links/CLAUDE.md
  packages/remark-shift-headings/CLAUDE.md
  packages/repopo-docs/CLAUDE.md
  packages/sort-tsconfig/CLAUDE.md
  packages/xkcd2-api/CLAUDE.md
Due: fundamentals, sort-tsconfig, cli-api, xkcd2-api

fix
  packages/sail/src/core/tasks/leaf/miscTasks.ts
Due: sail

Path conditions:
  dill: any of: packages/dill/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  fundamentals: any of: packages/fundamentals/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  sort-tsconfig: any of: packages/sort-tsconfig/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  cli: any of: packages/cli/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  cli-api: any of: packages/cli-api/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  xkcd2-api: any of: packages/xkcd2-api/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  ccl-test-viewer: any of: packages/ccl-test-viewer/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  sail: any of: packages/sail/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
  sail-infrastructure: any of: packages/sail-infrastructure/**, but not: **/index.ts, **/index.js, **/index.mjs, **/index.cjs, **/*.test.ts, **/*.test.js, **/test/**, **/tests/**, **/__tests__/**, **/bin/**, **/*.config.ts, **/*.config.js, **/*.config.mjs, **/*.config.cjs, **/docs/**, **/.astro/**, **/dist/**, **/esm/**, **/build/**
