Repository tylerbutler/tools-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: dill, fundamentals, sort-tsconfig, cli, cli-api, xkcd2-api, ccl-test-viewer, sail, sail-infrastructure, rehype-footnotes, remark-shift-headings, remark-lazy-links, repopo, lilconfig-loader-ts

.codecov.yml:

comment:
  layout: "header, diff, components, files, footer"
  hide_project_coverage: false
  require_changes: true
  require_base: false
  require_head: true
  behavior: default

ignore:
  - "**/index.ts"
  - "**/index.js"
  - "**/index.mjs"
  - "**/index.cjs"
  - "**/*.test.ts"
  - "**/*.test.js"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/bin/**"
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/*.config.mjs"
  - "**/*.config.cjs"
  - "**/docs/**"
  - "**/.astro/**"
  - "**/dist/**"
  - "**/esm/**"
  - "**/build/**"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 10%
        base: auto
    patch:
      default:
        informational: true

# Flags configuration for monorepo packages
# Each flag corresponds to a package and enables carryforward
# Carryforward preserves coverage for packages not tested in a commit
flags:
  dill:
    paths:
      - packages/dill-cli/
    carryforward: true
  fundamentals:
    paths:
      - packages/fundamentals/
    carryforward: true
  sort-tsconfig:
    paths:
      - packages/sort-tsconfig/
    carryforward: true
  cli:
    paths:
      - packages/cli/
    carryforward: true
  cli-api:
    paths:
      - packages/cli-api/
    carryforward: true
  xkcd2-api:
    paths:
      - packages/xkcd2-api/
    carryforward: true
  ccl-test-viewer:
    paths:
      - packages/ccl-test-viewer/
    carryforward: true
  sail:
    paths:
      - packages/sail/
    carryforward: true
  sail-infrastructure:
    paths:
      - packages/sail-infrastructure/
    carryforward: true
  rehype-footnotes:
    paths:
      - packages/rehype-footnotes/
    carryforward: true
  remark-shift-headings:
    paths:
      - packages/remark-shift-headings/
    carryforward: true
  remark-lazy-links:
    paths:
      - packages/remark-lazy-links/
    carryforward: true
  repopo:
    paths:
      - packages/repopo/
    carryforward: true
  lilconfig-loader-ts:
    paths:
      - packages/lilconfig-loader-ts/
    carryforward: true

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        branches:
          - "!main"
  individual_components:
    - component_id: dill # this is an identifier that should not be changed
      name: dill # this is a display name, and can be changed freely
      paths:
        - packages/dill-cli/**
    - component_id: fundamentals
      name: fundamentals
      paths:
        - packages/fundamentals/**
    - component_id: sort-tsconfig
      name: sort-tsconfig
      paths:
        - packages/sort-tsconfig/**
    - component_id: cli
      name: cli
      paths:
        - packages/cli/**
    - component_id: cli-api
      name: cli-api
      paths:
        - packages/cli-api/**
    - component_id: xkcd2-api
      name: xkcd2-api
      paths:
        - packages/xkcd2-api/**
    - component_id: ccl-test-viewer
      name: ccl-test-viewer
      paths:
        - packages/ccl-test-viewer/**
    - component_id: sail
      name: sail
      paths:
        - packages/sail/**
    - component_id: sail-infrastructure
      name: sail-infrastructure
      paths:
        - packages/sail-infrastructure/**
    - component_id: rehype-footnotes
      name: rehype-footnotes
      paths:
        - packages/rehype-footnotes/**
    - component_id: remark-shift-headings
      name: remark-shift-headings
      paths:
        - packages/remark-shift-headings/**
    - component_id: remark-lazy-links
      name: remark-lazy-links
      paths:
        - packages/remark-lazy-links/**
    - component_id: repopo
      name: repopo
      paths:
        - packages/repopo/**
    - component_id: lilconfig-loader-ts
      name: lilconfig-loader-ts
      paths:
        - packages/lilconfig-loader-ts/**

chore(sail): add coverage directory to clean scripts
  packages/sail-infrastructure/package.json
  packages/sail/package.json
Due: sail, sail-infrastructure

chore: update generated test data and clean stale api-report
  packages/ccl-test-viewer/src/lib/data/categories.json
  packages/ccl-test-viewer/src/lib/data/search-index.json
  packages/ccl-test-viewer/src/lib/data/stats.json
  packages/ccl-test-viewer/src/lib/data/types.ts
  packages/ccl-test-viewer/static/data/categories.json
  packages/ccl-test-viewer/static/data/search-index.json
  packages/ccl-test-viewer/static/data/stats.json
  packages/sail-infrastructure/api-report/build-infrastructure.api.md
Due: ccl-test-viewer, sail-infrastructure

fix(sail): remove invalid TscTask donefile tests
  packages/sail/test/unit/core/tasks/leaf/tscTask.test.ts
Due: none

fix(sail): add readFile mock to flubTasks tests
  packages/sail/test/unit/core/tasks/leaf/flubTasks.test.ts
Due: none

fix(sail): handle missing output files in donefile generation
  packages/sail/src/core/tasks/leaf/leafTask.ts
  packages/sail/test/unit/core/tasks/leaf/miscTasks.test.ts
Due: sail

build
  packages/ccl-test-viewer/src/lib/data/categories.json
  packages/ccl-test-viewer/src/lib/data/search-index.json
  packages/ccl-test-viewer/src/lib/data/stats.json
  packages/ccl-test-viewer/src/lib/data/types.ts
  packages/ccl-test-viewer/static/data/categories.json
  packages/ccl-test-viewer/static/data/search-index.json
  packages/ccl-test-viewer/static/data/stats.json
Due: ccl-test-viewer

test(sail): implement comprehensive WebpackTask tests (27/27)
  packages/sail/TEST_IMPLEMENTATION_PROGRESS.md
  packages/sail/src/core/tasks/leaf/webpackTask.ts
  packages/sail/test/helpers/builders/LeafTaskBuilder.ts
  packages/sail/test/unit/core/tasks/leaf/webpackTask.test.ts
Due: sail

test(sail): complete test implementation phase - 98% coverage achieved
  packages/sail/TEST_IMPLEMENTATION_PROGRESS.md
  packages/sail/test/unit/core/dependencies/DependencyResolver.test.ts
Due: sail

docs(sail): clarify FlubCheckPolicyTask test deferral reasoning
  packages/sail/test/unit/core/tasks/leaf/flubTasks.test.ts
Due: none

style(sail): format WebpackTask test imports
  packages/sail/test/unit/core/tasks/leaf/webpackTask.test.ts
Due: none

style(sail): add inline lint suppressions for test code
  packages/sail/test/helpers/builders/LeafTaskBuilder.ts
  packages/sail/test/unit/core/tasks/leaf/webpackTask.test.ts
Due: none

build(sail): add changesets for bug fixes and remove progress doc
  .changeset/fix-donefile-missing-output-files.md
  .changeset/fix-webpack-task-env-arguments.md
  packages/sail/TEST_IMPLEMENTATION_PROGRESS.md
Due: sail

test(sail): implement comprehensive test suite (#426)
  .changeset/fix-donefile-missing-output-files.md
  .changeset/fix-webpack-task-env-arguments.md
  packages/ccl-test-viewer/src/lib/data/categories.json
  packages/ccl-test-viewer/src/lib/data/search-index.json
  packages/ccl-test-viewer/src/lib/data/stats.json
  packages/ccl-test-viewer/src/lib/data/types.ts
  packages/ccl-test-viewer/static/data/categories.json
  packages/ccl-test-viewer/static/data/search-index.json
  packages/ccl-test-viewer/static/data/stats.json
  packages/sail-infrastructure/api-report/build-infrastructure.api.md
  packages/sail-infrastructure/package.json
  packages/sail/package.json
  packages/sail/src/core/tasks/leaf/leafTask.ts
  packages/sail/src/core/tasks/leaf/webpackTask.ts
  packages/sail/test/helpers/builders/LeafTaskBuilder.ts
  packages/sail/test/unit/core/dependencies/DependencyResolver.test.ts
  packages/sail/test/unit/core/tasks/leaf/apiExtractorTask.test.ts
  packages/sail/test/unit/core/tasks/leaf/commonDeclarativeTasks.test.ts
  packages/sail/test/unit/core/tasks/leaf/declarativeTask.test.ts
  packages/sail/test/unit/core/tasks/leaf/flubTasks.test.ts
  packages/sail/test/unit/core/tasks/leaf/generateEntrypointsTask.test.ts
  packages/sail/test/unit/core/tasks/leaf/lintTasks.test.ts
  packages/sail/test/unit/core/tasks/leaf/miscTasks.test.ts
  packages/sail/test/unit/core/tasks/leaf/prettierTask.test.ts
  packages/sail/test/unit/core/tasks/leaf/tscTask.test.ts
  packages/sail/test/unit/core/tasks/leaf/webpackTask.test.ts
  packages/sail/test/unit/core/tasks/workers/eslintWorker.test.ts
  packages/sail/test/unit/core/tasks/workers/tscWorker.test.ts
  packages/sail/test/unit/core/tasks/workers/workerPool.test.ts
Due: ccl-test-viewer, sail, sail-infrastructure

plan
  plan.md
Due: none

🚀 release: Update versions (#431)
  .changeset/fix-donefile-missing-output-files.md
  .changeset/fix-webpack-task-env-arguments.md
  packages/cli/THIRD-PARTY-LICENSES.txt
  packages/sail-infrastructure/THIRD-PARTY-LICENSES.txt
  packages/sail/CHANGELOG.md
  packages/sail/package.json
Due: cli, sail, sail-infrastructure

docs(ccl-docs): update documentation for consistency and accuracy
  packages/ccl-docs/astro.config.mjs
  packages/ccl-docs/src/content/docs/ai-quickstart.md
  packages/ccl-docs/src/content/docs/implementing-ccl.md
  packages/ccl-docs/src/content/docs/test-suite-guide.md
Due: none

format
  packages/ccl-docs/astro.config.mjs
Due: none

docs(ccl-docs): update documentation for consistency and accuracy (#433)
  packages/ccl-docs/astro.config.mjs
  packages/ccl-docs/src/content/docs/ai-quickstart.md
  packages/ccl-docs/src/content/docs/implementing-ccl.md
  packages/ccl-docs/src/content/docs/test-suite-guide.md
Due: none

chore(ccl-test-viewer): update CCL test data
  packages/ccl-test-viewer/src/lib/data/categories.json
  packages/ccl-test-viewer/src/lib/data/search-index.json
  packages/ccl-test-viewer/src/lib/data/stats.json
  packages/ccl-test-viewer/static/data/categories.json
  packages/ccl-test-viewer/static/data/search-index.json
  packages/ccl-test-viewer/static/data/stats.json
Due: ccl-test-viewer

Apply suggestions from code review
  .changeset/add-header-and-strip-flags.md
Due: none

docs
  packages/dill-cli/src/types.ts
  packages/dill-docs/src/content/docs/api/functions/download.md
  packages/dill-docs/src/content/docs/api/interfaces/DillOptions.md
  packages/dill-docs/src/content/docs/api/interfaces/DownloadResponse.md
Due: dill

docs
  packages/dill-docs/src/content/docs/api/interfaces/DownloadResponse.md
Due: none

fix(nx): add orchestration targets to all packages
  package.json
  packages/ccl-docs/package.json
  packages/ccl-test-viewer/package.json
  packages/cli-api/package.json
  packages/cli/package.json
  packages/dill-cli/package.json
  packages/dill-cli/test/__snapshots__/api.test.ts.snap
  packages/dill-cli/test/api.test.ts
  packages/dill-cli/test/commands/__snapshots__/download.test.ts.snap
  packages/dill-cli/test/commands/download.test.ts
  packages/dill-docs/package.json
  packages/fundamentals/package.json
  packages/levee-client/package.json
  packages/lilconfig-loader-ts/package.json
  packages/rehype-footnotes/package.json
  packages/remark-lazy-links/package.json
  packages/remark-shift-headings/package.json
  packages/repopo-docs/package.json
  packages/repopo/package.json
  packages/sail-infrastructure/package.json
  packages/sail/package.json
  packages/xkcd2-api/package.json
  repopo.config.ts
Due: dill, fundamentals, cli, cli-api, xkcd2-api, ccl-test-viewer, sail, sail-infrastructure, rehype-footnotes, remark-shift-headings, remark-lazy-links, repopo, lilconfig-loader-ts

format
  packages/dill-cli/test/api.test.ts
Due: none

build
  packages/cli/docs/download.md
  packages/cli/test/commands/__snapshots__/commands.json
Due: none

chore(ccl-test-viewer): update CCL test data (#437)
  packages/ccl-test-viewer/src/lib/data/categories.json
  packages/ccl-test-viewer/src/lib/data/search-index.json
  packages/ccl-test-viewer/src/lib/data/stats.json
  packages/ccl-test-viewer/static/data/categories.json
  packages/ccl-test-viewer/static/data/search-index.json
  packages/ccl-test-viewer/static/data/stats.json
Due: ccl-test-viewer

fix build graph
  packages/ccl-test-viewer/package.json
Due: ccl-test-viewer

config updates
  biome.jsonc
  config/biome/formatter.jsonc
  config/biome/linter.jsonc
  config/biome/oclif.jsonc
  config/biome/test-files.jsonc
  packages/ccl-test-viewer/biome.jsonc
  packages/ccl-test-viewer/src/app.html
  packages/ccl-test-viewer/src/lib/components/ui/button/button.svelte
  packages/ccl-test-viewer/src/lib/data/types.ts
  packages/ccl-test-viewer/src/lib/utils/dataMerger.test.ts
Due: ccl-test-viewer

fix(ccl-test-viewer): format generated types.ts with Biome JS API
  packages/ccl-test-viewer/package.json
  packages/ccl-test-viewer/scripts/sync-data.ts
  packages/cli/docs/commands.md
  packages/cli/docs/help.md
  packages/fundamentals/docs/index.md
  packages/sail-infrastructure/docs/classes/NotInGitRepository.md
  packages/sail/docs/commands.md
  packages/sail/docs/help.md
  pnpm-lock.yaml
Due: ccl-test-viewer

fix(ccl-test-viewer): format generated JSON files with Biome JS API
  packages/ccl-test-viewer/biome.jsonc
  packages/ccl-test-viewer/scripts/sync-data.ts
  packages/ccl-test-viewer/src/lib/data/categories.json
  packages/ccl-test-viewer/src/lib/data/search-index.json
  packages/ccl-test-viewer/src/lib/data/stats.json
  packages/ccl-test-viewer/static/data/categories.json
  packages/ccl-test-viewer/static/data/search-index.json
  packages/ccl-test-viewer/static/data/stats.json
Due: ccl-test-viewer

fix(sail-infrastructure): resolve flaky test due to git index.lock race
  packages/sail-infrastructure/src/test/versions.test.ts
Due: none

fix(sail-infrastructure): resolve flaky test due to git index.lock race (#438)
  packages/sail-infrastructure/src/test/versions.test.ts
Due: none

ci(dependabot): convert PRs to issues instead of auto-merging
  .github/workflows/dependabot-build-artifacts.yml.disabled
  .github/workflows/dependabot-to-issues.yml
Due: none

ci: convert dependabot PRs to issues instead of auto-merging (#442)
  .github/workflows/dependabot-build-artifacts.yml.disabled
  .github/workflows/dependabot-to-issues.yml
Due: none

chore(ccl-test-viewer): sync test data
  packages/ccl-test-viewer/src/lib/data/categories.json
  packages/ccl-test-viewer/static/data/categories.json
Due: ccl-test-viewer

fix(ccl-test-viewer): correct Nx cache outputs for build:vite target
  packages/ccl-test-viewer/package.json
Due: ccl-test-viewer

chore(deps): remove unused tempy dependency
  package.json
  pnpm-lock.yaml
Due: none

lint and format
  packages/cli-api/package.json
  packages/dill-cli/package.json
  packages/repopo/package.json
  packages/sort-tsconfig/package.json
  pnpm-lock.yaml
  syncpack.config.cjs
Due: dill, sort-tsconfig, cli-api, repopo

lockfile
  pnpm-lock.yaml
Due: none
