Repository tylerbutler/tools-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: dill, fundamentals

.codecov.yml:

comment:
  layout: "condensed_header, diff, flags, components"

coverage:
  status:
    project:
      dill:
        paths:
          - packages/dill/**
      fundamentals:
        paths:
          - packages/fundamentals/**
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: dill # this is an identifier that should not be changed
      name: dill # this is a display name, and can be changed freely
      paths:
        - packages/dill/**
    - component_id: fundamentals
      name: fundamentals
      paths:
        - packages/fundamentals/**

feat: New package xkcd2-api (#158)
  .changeset/gold-donkeys-worry.md
  package.json
  packages/xkcd2-api/.gitignore
  packages/xkcd2-api/CHANGELOG.md
  packages/xkcd2-api/LICENSE
  packages/xkcd2-api/README.md
  packages/xkcd2-api/api-docs/xkcd2-api.api.md
  packages/xkcd2-api/api-extractor.json
  packages/xkcd2-api/biome.jsonc
  packages/xkcd2-api/docs/README.md
  packages/xkcd2-api/package.json
  packages/xkcd2-api/packlist.txt
  packages/xkcd2-api/src/comic.ts
  packages/xkcd2-api/src/index.ts
  packages/xkcd2-api/test/__snapshots__/comic.test.ts.snap
  packages/xkcd2-api/test/comic.test.ts
  packages/xkcd2-api/test/tsconfig.json
  packages/xkcd2-api/tsconfig.json
  packages/xkcd2-api/typedoc.config.cjs
  packages/xkcd2-api/vitest.config.ts
  pnpm-lock.yaml
Due: none

feat: New package xkcd2-api (#158)
  .changeset/gold-donkeys-worry.md
  package.json
  packages/xkcd2-api/CHANGELOG.md
  packages/xkcd2-api/LICENSE
  packages/xkcd2-api/README.md
  packages/xkcd2-api/api-docs/xkcd2-api.api.md
  packages/xkcd2-api/api-extractor.json
  packages/xkcd2-api/biome.jsonc
  packages/xkcd2-api/docs/README.md
  packages/xkcd2-api/package.json
  packages/xkcd2-api/packlist.txt
  packages/xkcd2-api/src/comic.ts
  packages/xkcd2-api/src/index.ts
  packages/xkcd2-api/test/__snapshots__/comic.test.ts.snap
  packages/xkcd2-api/test/comic.test.ts
  packages/xkcd2-api/test/tsconfig.json
  packages/xkcd2-api/tsconfig.json
  packages/xkcd2-api/typedoc.config.cjs
  packages/xkcd2-api/vitest.config.ts
  pnpm-lock.yaml
Due: none

🚀 release: Update versions (#154)
  .changeset/gold-donkeys-worry.md
  .changeset/lucky-bulldogs-cry.md
  .changeset/small-bags-hide.md
  .changeset/twelve-plums-reply.md
  packages/cli-api/CHANGELOG.md
  packages/cli-api/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/dill/CHANGELOG.md
  packages/dill/package.json
  packages/fundamentals/CHANGELOG.md
  packages/fundamentals/package.json
  packages/repopo/CHANGELOG.md
  packages/repopo/package.json
  packages/sort-tsconfig/CHANGELOG.md
  packages/sort-tsconfig/package.json
  packages/xkcd2-api/CHANGELOG.md
  packages/xkcd2-api/package.json
Due: dill, fundamentals

ci: Release pipeline
  .changeset/README.md
  .github/workflows/release.yml
Due: none

fix: move `sort-package-json` from devDependencies to dependencies
  packages/cli-api/package.json
Due: none

refactor: Replace chalk with picocolors
  packages/cli-api/package.json
  packages/cli-api/src/baseCommand.ts
  packages/cli-api/src/logger.ts
  packages/cli/package.json
  packages/cli/src/commands/git/merge-train/preview.ts
  packages/cli/src/commands/git/squish.ts
  packages/repopo/package.json
  packages/repopo/src/commands/check.ts
  packages/repopo/src/commands/list.ts
  pnpm-lock.yaml
Due: none

refactor: replace cosmicconfig with lilconfig
  packages/cli-api/package.json
  packages/cli-api/src/configCommand.ts
Due: none

lockfile
  pnpm-lock.yaml
Due: none

noUndeclaredDependencies
  biome.jsonc
  packages/repopo/src/baseCommand.ts
Due: none

changeset
  .changeset/clean-flowers-tell.md
Due: none

fix(cli-api): move `sort-package-json` from devDependencies to dependencies (#167)
  .changeset/clean-flowers-tell.md
  packages/cli-api/package.json
  pnpm-lock.yaml
Due: none

refactor: Replace chalk with picocolors (#168)
  packages/cli-api/package.json
  packages/cli-api/src/baseCommand.ts
  packages/cli-api/src/logger.ts
  packages/cli/package.json
  packages/cli/src/commands/git/merge-train/preview.ts
  packages/cli/src/commands/git/squish.ts
  packages/repopo/package.json
  packages/repopo/src/commands/check.ts
  packages/repopo/src/commands/list.ts
  pnpm-lock.yaml
Due: none

ci: Update actions
  .github/workflows/pr-build.yml
  .github/workflows/release.yml
Due: none

build: Update dependencies
  package.json
  pnpm-lock.yaml
Due: none

🚀 release: Update versions (#169)
  .changeset/clean-flowers-tell.md
  packages/cli-api/CHANGELOG.md
  packages/cli-api/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/dill/CHANGELOG.md
  packages/dill/package.json
  packages/repopo/CHANGELOG.md
  packages/repopo/package.json
  packages/sort-tsconfig/CHANGELOG.md
  packages/sort-tsconfig/package.json
Due: dill

build: Update oclif dependencies
  packages/cli-api/package.json
  packages/cli/docs/autocomplete.md
  packages/cli/docs/commands.md
  packages/cli/docs/help.md
  packages/cli/docs/search.md
  packages/cli/docs/version.md
  packages/cli/docs/which.md
  packages/cli/package.json
  packages/dill/package.json
  packages/repopo/package.json
  packages/sort-tsconfig/package.json
  pnpm-lock.yaml
Due: dill

chore(deps): Upgrade deps
  config/package.json
  package.json
  packages/cli-api/package.json
  packages/cli/package.json
  packages/dill-docs/package.json
  packages/dill/package.json
  packages/fundamentals/package.json
  packages/repopo/package.json
  packages/sort-tsconfig/package.json
  packages/xkcd2-api/package.json
  pnpm-lock.yaml
Due: dill, fundamentals

chore(deps): Update biome to 1.9.4
  biome.jsonc
  package.json
  packages/cli-api/package.json
  packages/cli-api/src/git.ts
  packages/cli-api/src/json.ts
  packages/cli/package.json
  packages/dill-docs/src/styles/custom.css
  packages/dill/package.json
  packages/dill/src/api.ts
  packages/dill/test/mocks/handlers.ts
  packages/fundamentals/package.json
  packages/fundamentals/src/writeOnceMap.ts
  packages/repopo/package.json
  packages/sort-tsconfig/package.json
  packages/sort-tsconfig/src/api.ts
  packages/sort-tsconfig/src/index.ts
  packages/xkcd2-api/package.json
  pnpm-lock.yaml
Due: dill, fundamentals

chore: Remove unused git hooks script
  .lefthook/pre-commit/require-email.mjs
  package.json
Due: none

test: Add missing awaits for async assertions
  packages/dill/test/api.test.ts
  packages/xkcd2-api/test/comic.test.ts
Due: dill

maybe
  packages/dill-docs/package.json
  packages/dill-docs/src/content.config.ts
Due: none

upgrade starlight
  packages/dill-docs/astro.config.mjs
  packages/dill-docs/package.json
  pnpm-lock.yaml
Due: none

upgrade others and full rebuild
  packages/dill-docs/src/content/docs/api/functions/download.md
  packages/dill-docs/src/content/docs/api/interfaces/DillOptions.md
  packages/dill-docs/src/content/docs/api/interfaces/DownloadResponse.md
  packages/fundamentals/docs/README.md
  packages/fundamentals/docs/array.md
  packages/fundamentals/docs/git.md
  packages/fundamentals/docs/index.md
  packages/fundamentals/docs/set.md
  packages/fundamentals/package.json
  packages/xkcd2-api/docs/README.md
  packages/xkcd2-api/package.json
  pnpm-lock.yaml
Due: fundamentals

fix(deps): Upgrade starlight, astro, and typedoc (#172)
  packages/dill-docs/astro.config.mjs
  packages/dill-docs/package.json
  packages/dill-docs/src/content.config.ts
  packages/dill-docs/src/content/docs/api/functions/download.md
  packages/dill-docs/src/content/docs/api/interfaces/DillOptions.md
  packages/dill-docs/src/content/docs/api/interfaces/DownloadResponse.md
  packages/fundamentals/docs/README.md
  packages/fundamentals/docs/array.md
  packages/fundamentals/docs/git.md
  packages/fundamentals/docs/index.md
  packages/fundamentals/docs/set.md
  packages/fundamentals/package.json
  packages/xkcd2-api/docs/README.md
  packages/xkcd2-api/package.json
  pnpm-lock.yaml
Due: fundamentals

chore(deps): Update dev dependencies
  .ncurc.cjs
  config/package.json
  package.json
  packages/cli-api/package.json
  packages/cli/package.json
  packages/dill/package.json
  packages/fundamentals/package.json
  packages/repopo/package.json
  packages/sort-tsconfig/package.json
  packages/xkcd2-api/package.json
  pnpm-lock.yaml
Due: dill, fundamentals
