Repository tylerbutler/tools-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: dill, fundamentals

lefthook
  lefthook.yml
Due: none

hooks
  lefthook.yml
  packages/fundamentals/package.json
Due: fundamentals

hooks
  lefthook.yml
Due: none

format
  packages/fundamentals/package.json
Due: fundamentals

format
  lefthook.yml
Due: none

format
  lefthook.yml
  packages/fundamentals/src/array.ts
Due: fundamentals

hook
  lefthook.yml
  packages/fundamentals/src/array.ts
Due: fundamentals

urls
  packages/cli-api/package.json
  packages/cli/package.json
  packages/dill/package.json
  packages/fundamentals/package.json
  packages/repopo/package.json
Due: dill, fundamentals

docs(dills): Fix logo background
  packages/dill-docs/src/assets/dill-logo.svg
  packages/dill/README.md
Due: dill

Use correct homepage URLs (#99)
  .changeset/grumpy-baboons-pump.md
  lefthook.yml
  packages/cli-api/package.json
  packages/cli/package.json
  packages/dill/package.json
  packages/fundamentals/package.json
  packages/repopo/package.json
Due: dill, fundamentals

revert
  packages/dill/README.md
Due: dill

docs(dills): Fix logo background (#100)
  packages/dill-docs/src/assets/dill-logo.svg
Due: none

docs(dills): Fix readme logo
  packages/dill/README.md
Due: dill

docs(dills): Fix readme logo (#102)
  packages/dill/README.md
Due: dill

ci: Run build workflow on changeset-release/main
  .github/workflows/pr-build.yml
Due: none

ci: Update triggers
  .github/workflows/pr-build.yml
Due: none

ci: Update action versions to latest
  .github/workflows/pr-build.yml
  .github/workflows/release.yml
Due: none

ci: Use PAT in changeset PR action
  .github/workflows/release.yml
Due: none

ci: Minor changes to action reports
  .github/workflows/release.yml
Due: none

ci: Workflow triggers
  .github/workflows/pr-build.yml
Due: none

deps
  packages/sort-tsconfig/package.json
  pnpm-lock.yaml
Due: none

wip
  packages/cli-api/package.json
  packages/cli/docs/autocomplete.md
  packages/cli/docs/commands.md
  packages/cli/docs/help.md
  packages/cli/docs/search.md
  packages/cli/docs/sort.md
  packages/cli/docs/version.md
  packages/cli/docs/which.md
  packages/cli/package.json
  packages/cli/test/commands/_snapshots/commands.json
  packages/dill/package.json
  packages/dill/packlist.txt
  packages/fundamentals/package.json
  packages/repopo/package.json
  packages/sort-tsconfig/README.md
  packages/sort-tsconfig/api-docs/sort-tsconfig.api.md
  packages/sort-tsconfig/package.json
  packages/sort-tsconfig/src/api.ts
  packages/sort-tsconfig/src/commands/sort-tsconfig.ts
  packages/sort-tsconfig/src/config.ts
  packages/sort-tsconfig/src/index.ts
  pnpm-lock.yaml
Due: dill, fundamentals

script cleanup
  .codecov.yml
  packages/sort-tsconfig/package.json
Due: none

fixes
  packages/sort-tsconfig/package.json
  packages/sort-tsconfig/test/tsconfig.test.ts
  packages/sort-tsconfig/vitest.config.ts
  pnpm-lock.yaml
Due: none

updates
  packages/sort-tsconfig/README.md
  packages/sort-tsconfig/package.json
  packages/sort-tsconfig/src/commands/sort-tsconfig.ts
  packages/sort-tsconfig/src/config.ts
Due: none

biome configs
  packages/fundamentals/biome.jsonc
  packages/repopo/biome.jsonc
  packages/sort-tsconfig/biome.jsonc
Due: fundamentals

wip
  .vscode/launch.json
  fluidBuild.config.cjs
  packages/sort-tsconfig/package.json
  packages/sort-tsconfig/src/commands/sort-tsconfig.ts
  packages/sort-tsconfig/test/commands/sort-tsconfig.mocha-test.ts
  packages/sort-tsconfig/test/commands/sort-tsconfig.test.ts
  packages/sort-tsconfig/test/tsconfig.json
  packages/sort-tsconfig/tsconfig.json
  pnpm-lock.yaml
Due: none

wip
  packages/sort-tsconfig/package.json
  packages/sort-tsconfig/src/commands/sort/tsconfig.ts
  packages/sort-tsconfig/test/tsconfig.json
Due: none

Path conditions:
  dill: any of: packages/dill/**
  fundamentals: any of: packages/fundamentals/**
