Repository tylerbutler/tools-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: dill, fundamentals

test(ccl-test-viewer): improve test coverage from 5.6% to 47%
  packages/ccl-test-viewer/src/lib/services/githubLoader.test.ts
  packages/ccl-test-viewer/src/lib/services/tauriFileService.test.ts
  packages/ccl-test-viewer/src/lib/utils/dataMerger.test.ts
  packages/ccl-test-viewer/turbo.json
  packages/ccl-test-viewer/vitest.config.ts
Due: none

test(ccl-test-viewer): increase coverage from 47% to 60% with MSW mocking
  packages/ccl-test-viewer/package.json
  packages/ccl-test-viewer/src/lib/index.test.ts
  packages/ccl-test-viewer/src/lib/services/githubLoader.test.ts
  packages/ccl-test-viewer/src/lib/utils/dataMerger.test.ts
  packages/ccl-test-viewer/src/test/msw.setup.ts
  packages/ccl-test-viewer/vitest.config.ts
  pnpm-lock.yaml
Due: none

formatting
  packages/ccl-test-viewer/src/lib/services/githubLoader.test.ts
  packages/ccl-test-viewer/src/lib/services/tauriFileService.test.ts
  packages/ccl-test-viewer/src/lib/utils/dataMerger.test.ts
  packages/ccl-test-viewer/src/test/msw.setup.ts
  packages/ccl-test-viewer/vitest.config.ts
  turbo.json
Due: none

linting
  config/vitest.config.ts
  packages/ccl-test-viewer/src/lib/components/DataCollectionManager.svelte
  packages/ccl-test-viewer/src/lib/components/GitHubUrlInput.svelte
  packages/ccl-test-viewer/src/lib/components/JsonTreeViewer.svelte
  packages/ccl-test-viewer/src/lib/components/MultiFileUpload.svelte
  packages/ccl-test-viewer/src/lib/components/TauriFileUpload.svelte
  packages/ccl-test-viewer/src/lib/components/TestCard.svelte
  packages/ccl-test-viewer/src/lib/components/ui/alert/alert-description.svelte
  packages/ccl-test-viewer/src/lib/components/ui/alert/alert.svelte
  packages/ccl-test-viewer/src/lib/components/ui/progress/progress.svelte
  packages/ccl-test-viewer/src/lib/services/tauriFileService.test.ts
  packages/ccl-test-viewer/src/routes/browse/+page.svelte
  packages/ccl-test-viewer/src/routes/test/[name]/+page.ts
  scripts/sync-lockfile-versions.ts
Due: none

lint fixes
  packages/ccl-test-viewer/src/lib/components/CodeHighlight.svelte
  packages/ccl-test-viewer/src/lib/components/DataCollectionManager.svelte
  packages/ccl-test-viewer/src/lib/components/FilterSidebar.svelte
  packages/ccl-test-viewer/src/lib/components/GitHubRepositoryBrowser.svelte
  packages/ccl-test-viewer/src/lib/components/GitHubUrlInput.svelte
  packages/ccl-test-viewer/src/lib/components/JsonTreeViewer.svelte
  packages/ccl-test-viewer/src/lib/components/ListDisplay.svelte
  packages/ccl-test-viewer/src/lib/components/MultiFileUpload.svelte
  packages/ccl-test-viewer/src/lib/components/ShadcnDemo.svelte
  packages/ccl-test-viewer/src/lib/components/StatsDashboard.svelte
  packages/ccl-test-viewer/src/lib/components/TauriFileUpload.svelte
  packages/ccl-test-viewer/src/lib/components/TestCard.svelte
  packages/ccl-test-viewer/src/lib/components/TestCard.test.ts
  packages/ccl-test-viewer/src/lib/components/TestDetail.svelte
  packages/ccl-test-viewer/src/lib/components/ui/simple-checkbox.svelte
  packages/ccl-test-viewer/src/lib/index.test.ts
  packages/ccl-test-viewer/src/lib/services/tauriFileService.test.ts
  packages/ccl-test-viewer/src/lib/stores/dataSourceManager.svelte.ts
  packages/ccl-test-viewer/src/lib/stores/offlineManager.svelte.ts
  packages/ccl-test-viewer/src/lib/utils/dataMerger.test.ts
  packages/ccl-test-viewer/src/routes/+layout.svelte
  packages/ccl-test-viewer/src/routes/browse/+page.svelte
  packages/ccl-test-viewer/src/routes/data/+page.svelte
  packages/ccl-test-viewer/src/routes/test/[name]/+page.ts
  packages/ccl-test-viewer/src/test/msw.setup.ts
Due: none

format
  packages/ccl-test-viewer/src/lib/components/DataCollectionManager.svelte
  packages/ccl-test-viewer/src/lib/components/FilterSidebar.svelte
  packages/ccl-test-viewer/src/lib/components/GitHubRepositoryBrowser.svelte
  packages/ccl-test-viewer/src/lib/components/GitHubUrlInput.svelte
  packages/ccl-test-viewer/src/lib/components/MultiFileUpload.svelte
  packages/ccl-test-viewer/src/lib/components/StatsDashboard.svelte
  packages/ccl-test-viewer/src/lib/components/TauriFileUpload.svelte
  packages/ccl-test-viewer/src/lib/components/TestCard.svelte
  packages/ccl-test-viewer/src/lib/components/TestDetail.svelte
  packages/ccl-test-viewer/src/lib/components/ui/alert/alert-description.svelte
  packages/ccl-test-viewer/src/lib/components/ui/alert/alert.svelte
  packages/ccl-test-viewer/src/lib/components/ui/progress/progress.svelte
  packages/ccl-test-viewer/src/lib/components/ui/simple-checkbox.svelte
  packages/ccl-test-viewer/src/routes/+layout.svelte
  packages/ccl-test-viewer/src/routes/browse/+page.svelte
  packages/ccl-test-viewer/src/routes/data/+page.svelte
  packages/ccl-test-viewer/src/routes/test/[name]/+page.ts
Due: none

fix(types): resolve all TypeScript check errors
  packages/ccl-test-viewer/src/lib/components/ShadcnDemo.svelte
  packages/ccl-test-viewer/src/lib/components/TestDetail.svelte
  packages/ccl-test-viewer/src/lib/components/WhitespaceCodeHighlight.svelte
  packages/ccl-test-viewer/src/lib/components/ui/alert/alert-description.svelte
  packages/ccl-test-viewer/src/lib/components/ui/alert/alert.svelte
  packages/ccl-test-viewer/src/lib/components/ui/progress/progress.svelte
  packages/ccl-test-viewer/src/lib/services/githubLoader.test.ts
  packages/ccl-test-viewer/src/lib/services/tauriFileService.test.ts
  packages/ccl-test-viewer/src/lib/stores/dataSourceManager.svelte.ts
  packages/ccl-test-viewer/src/lib/stores/offlineManager.svelte.ts
  packages/ccl-test-viewer/src/lib/stores/tauriDataSourceManager.svelte.ts
  packages/ccl-test-viewer/src/lib/utils/dataMerger.ts
  packages/ccl-test-viewer/src/routes/data/+page.svelte
Due: none

fix(tests): resolve TestCard test failures
  packages/ccl-test-viewer/src/lib/components/TestCard.svelte
  packages/ccl-test-viewer/src/lib/components/TestCard.test.ts
Due: none

fix(config): resolve biome linter config for svelte files
  biome.jsonc
  packages/ccl-test-viewer/src/lib/utils/dataMerger.ts
Due: none

fix(security): address critical and high priority security issues
  packages/ccl-test-viewer/.env.example
  packages/ccl-test-viewer/scripts/sync-data.ts
  packages/ccl-test-viewer/src/lib/components/CodeHighlight.svelte
  packages/ccl-test-viewer/src/lib/components/JsonTreeViewer.svelte
  packages/ccl-test-viewer/src/lib/components/WhitespaceCodeHighlight.svelte
  packages/ccl-test-viewer/src/lib/services/desktopAuth.ts
  packages/ccl-test-viewer/src/lib/services/tauriFileService.ts
  packages/ccl-test-viewer/src/lib/stores/dataSourceManager.svelte.ts
  packages/ccl-test-viewer/src/lib/utils/dataMerger.ts
  packages/ccl-test-viewer/turbo.json
  turbo.json
Due: none

refactor: clean up unused variables and refactoring artifacts
  packages/ccl-test-viewer/src/lib/components/TestDetail.svelte
  packages/ccl-test-viewer/src/lib/components/WhitespaceCodeHighlight.svelte
  packages/ccl-test-viewer/src/lib/services/desktopAuth.ts
  packages/ccl-test-viewer/src/lib/services/tauriFileService.ts
  packages/ccl-test-viewer/src/lib/stores.svelte.ts
  packages/ccl-test-viewer/src/lib/stores/dataSourceManager.svelte.ts
  packages/ccl-test-viewer/src/lib/stores/offlineManager.svelte.ts
  packages/ccl-test-viewer/src/lib/utils/dataMerger.ts
Due: none

updates
  .changeset/tree-sitter-ccl-initial.md
  packages/tree-sitter-ccl/.gitattributes
  packages/tree-sitter-ccl/.gitignore
  packages/tree-sitter-ccl/Cargo.toml
  packages/tree-sitter-ccl/README.md
  packages/tree-sitter-ccl/bindings/node/index.d.ts
  packages/tree-sitter-ccl/bindings/rust/build.rs
  packages/tree-sitter-ccl/demo_highlight.cjs
  packages/tree-sitter-ccl/demo_highlight.mjs
  packages/tree-sitter-ccl/grammar.js
  packages/tree-sitter-ccl/package.json
  packages/tree-sitter-ccl/src/scanner.cc
  packages/tree-sitter-ccl/tree-sitter.json
Due: none

deps
  packages/ccl-test-viewer/package.json
  pnpm-lock.yaml
Due: none

chore: add instruction files
  CLAUDE.md
  packages/ccl-docs/CLAUDE.md
  packages/cli/CLAUDE.md
  packages/repopo/CLAUDE.md
Due: none

rm files
  PACKAGE_REORGANIZATION_PLAN.md
  SESSION_5_FINAL.md
  SESSION_5_RESULTS.md
  TURBOREPO_MIGRATION_PLAN.md
  TURBOREPO_PACKAGE_SCRIPTS.md
  TURBO_OPTIMIZATION_ANALYSIS.md
  TURBO_OPTIMIZATION_FINAL.md
  TURBO_OPTIMIZATION_IMPLEMENTATION.md
Due: none

cleanup
  packages/ccl-test-viewer/package.json
  packages/ccl-test-viewer/scripts/bundle-stats.js
  repopo.config.ts
  turbo.json
Due: none

policy
  package.json
  packages/ccl-test-viewer/package.json
Due: none

fix(tree-sitter-ccl): address PR feedback
  packages/tree-sitter-ccl/demo_simple.mjs
  packages/tree-sitter-ccl/package.json
  packages/tree-sitter-ccl/show_highlight.js
  packages/tree-sitter-ccl/tree-sitter.json
Due: none

fix(tree-sitter-ccl): address code quality feedback
  packages/tree-sitter-ccl/bindings/rust/build.rs
  packages/tree-sitter-ccl/src/scanner.cc
Due: none

lockfile
  pnpm-lock.yaml
Due: none

syncpack
  packages/cli-api/package.json
  packages/cli/package.json
  packages/dill/package.json
  packages/fundamentals/package.json
  packages/levee-client/package.json
  packages/lilconfig-loader-ts/package.json
  packages/repopo/package.json
  packages/sort-tsconfig/package.json
  packages/xkcd2-api/package.json
Due: dill, fundamentals

build: clean up build config
  .github/dependabot.yml
  .npmrc
  lefthook.yml
  package.json
  pnpm-lock.yaml
  renovate.json5
  turbo.json
Due: none

ci: upgrade claude workflows
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

updates
  packages/tree-sitter-ccl/CLAUDE.md
  packages/tree-sitter-ccl/package.json
Due: none

updates
  packages/fundamentals/docs/index.md
  packages/tree-sitter-ccl/package.json
  pnpm-lock.yaml
Due: fundamentals

docs
  packages/tree-sitter-ccl/ARCHITECTURE.md
  packages/tree-sitter-ccl/CLAUDE.md
  packages/tree-sitter-ccl/DEV.md
  packages/tree-sitter-ccl/README.md
Due: none

build
  packages/dill-docs/src/content/docs/api/interfaces/DownloadResponse.md
Due: none

bump biome
  packages/ccl-test-viewer/package.json
  packages/cli-api/package.json
  packages/cli/package.json
  packages/dill/package.json
  packages/fundamentals/package.json
  packages/levee-client/package.json
  packages/lilconfig-loader-ts/package.json
  packages/repopo/package.json
  packages/sort-tsconfig/package.json
  packages/xkcd2-api/package.json
  pnpm-lock.yaml
Due: dill, fundamentals

add ts to root
  package.json
  pnpm-lock.yaml
Due: none

fixes
  packages/ccl-test-viewer/src/lib/components/ui/alert/alert-description.svelte
  packages/ccl-test-viewer/src/lib/components/ui/alert/alert.svelte
  packages/ccl-test-viewer/src/lib/components/ui/progress/progress.svelte
Due: none

lint fixes
  biome.jsonc
  config/biome/linter.jsonc
  package.json
  packages/ccl-test-viewer/src/lib/stores/tauriDataSourceManager.svelte.ts
  packages/dill/test/api.test.ts
  pnpm-lock.yaml
  turbo.json
Due: dill

turbo jsons
  packages/ccl-docs/turbo.json
  packages/cli-api/turbo.json
  packages/cli/turbo.json
  packages/dill/turbo.json
  packages/fundamentals/turbo.json
  packages/levee-client/turbo.json
  packages/lilconfig-loader-ts/turbo.json
  packages/repopo-docs/turbo.json
  packages/repopo/turbo.json
  packages/sort-tsconfig/turbo.json
  packages/xkcd2-api/turbo.json
  turbo.json
Due: dill, fundamentals

updates
  package.json
  packages/cli/docs/autocomplete.md
  packages/cli/docs/commands.md
  packages/cli/docs/help.md
  packages/cli/docs/search.md
  packages/cli/docs/version.md
  packages/cli/docs/which.md
  packages/fundamentals/package.json
  packages/levee-client/package.json
  packages/lilconfig-loader-ts/package.json
  packages/sort-tsconfig/package.json
  turbo.json
Due: fundamentals

rename to jsonc
  packages/ccl-docs/turbo.jsonc
  packages/ccl-test-viewer/package.json
  packages/ccl-test-viewer/turbo.jsonc
  packages/cli-api/turbo.jsonc
  packages/cli/turbo.jsonc
  packages/dill-docs/package.json
  packages/dill-docs/turbo.jsonc
  packages/dill/turbo.jsonc
  packages/fundamentals/turbo.jsonc
  packages/levee-client/turbo.jsonc
  packages/lilconfig-loader-ts/turbo.jsonc
  packages/repopo-docs/package.json
  packages/repopo-docs/turbo.jsonc
  packages/repopo/turbo.jsonc
  packages/sort-tsconfig/turbo.jsonc
  packages/xkcd2-api/turbo.jsonc
  turbo.jsonc
Due: dill, fundamentals

format
  packages/ccl-docs/turbo.jsonc
  packages/ccl-test-viewer/turbo.jsonc
  packages/cli-api/turbo.jsonc
  packages/cli/turbo.jsonc
  packages/dill-docs/turbo.jsonc
  packages/dill/turbo.jsonc
  packages/fundamentals/turbo.jsonc
  packages/levee-client/turbo.jsonc
  packages/lilconfig-loader-ts/turbo.jsonc
  packages/repopo-docs/turbo.jsonc
  packages/repopo/turbo.jsonc
  packages/sort-tsconfig/turbo.jsonc
  packages/xkcd2-api/turbo.jsonc
  turbo.jsonc
Due: dill, fundamentals

Path conditions:
  dill: any of: packages/dill/**
  fundamentals: any of: packages/fundamentals/**
